In [1]:
import pandas as pd
import numpy as np

import geopy

import matplotlib.pyplot as plt
import seaborn as sns

# Configure image format to be ‘svg’
%config InlineBackend.figure_format = 'svg'

# allow visuals to render within notebook
%matplotlib inline

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
def read_turnstile_data(dates):
    '''
    Read in NYC MTA turnstile data from the web for the specified week(s) and create
    a contiguous Pandas dataframe
    
    INPUTS:
       dates (list of string) : A list of string(s) of the form '<2-digit-year><2-digit-month><2-digit-day>'
                                (e.g. '190504' for the MTA data file labeled 'May 04, 2019')
                                
    RETURNS:
       df (Pandas dataframe)  : A Pandas dataframe with all the MTA data specified by the date file(s) in 
                                the dates list
    '''
    
    for i, date in enumerate(dates):
        df_temp = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_" + date + ".txt")
        if i == 0:
            df = df_temp.copy(deep=True)
        else:
            df = pd.concat([df, df_temp], axis=0)
    df.reset_index(drop=True, inplace=True)
    
    # Fix column names
    new_col_names = [col.strip() for col in df.columns]
    df.set_axis(labels=new_col_names, axis=1, inplace=True)
    
    # Add a 'DATETIME' column
    df['DATETIME'] = pd.to_datetime(df['DATE'] + ' ' + df['TIME'])

    return df

In [4]:
# 2019 MTA Data (all of May and June)

dates = ['190504', '190511', '190518', '190525', '190601', '190608', '190615', '190622', '190629', '190706']

df_2019 = read_turnstile_data(dates)

# Since we'll be working with previous day differences, retain last day of April through the last day of June
df_2019 = df_2019[(df_2019['DATETIME'] >= pd.Timestamp('2019-04-30 00:00:00', tz=None)) &
                  (df_2019['DATETIME'] < pd.Timestamp('2019-07-01 00:00:00', tz=None))]

print(df_2019.shape)
display(df_2019.head())
display(df_2019.tail())

(1819670, 12)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/30/2019,00:00:00,REGULAR,7038242,2385765,2019-04-30 00:00:00
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/30/2019,04:00:00,REGULAR,7038261,2385769,2019-04-30 04:00:00
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/30/2019,08:00:00,REGULAR,7038308,2385866,2019-04-30 08:00:00
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/30/2019,12:00:00,REGULAR,7038474,2386080,2019-04-30 12:00:00
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/30/2019,16:00:00,REGULAR,7038775,2386147,2019-04-30 16:00:00

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
2059672,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2019,05:00:00,REGULAR,5554,379,2019-06-30 05:00:00
2059673,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2019,09:00:00,REGULAR,5554,379,2019-06-30 09:00:00
2059674,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2019,13:00:00,REGULAR,5554,379,2019-06-30 13:00:00
2059675,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2019,17:00:00,REGULAR,5554,379,2019-06-30 17:00:00
2059676,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2019,21:00:00,REGULAR,5554,379,2019-06-30 21:00:00

In [5]:
# 2021 MTA Data (all of May and June)

dates = ['210501', '210508', '210515', '210522', '210529', '210605', '210612', '210619', '210626', '210703']

df_2021 = read_turnstile_data(dates)

# Since we'll be working with previous day differences, retain last day of April through the last day of June
df_2021 = df_2021[(df_2021['DATETIME'] >= pd.Timestamp('2021-04-30 00:00:00', tz=None)) &
                  (df_2021['DATETIME'] < pd.Timestamp('2021-07-01 00:00:00', tz=None))]

print(df_2021.shape)
display(df_2021.head())
display(df_2021.tail())

(1853303, 12)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
36,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/30/2021,00:00:00,REGULAR,7564048,2584088,2021-04-30 00:00:00
37,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/30/2021,04:00:00,REGULAR,7564059,2584092,2021-04-30 04:00:00
38,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/30/2021,08:00:00,REGULAR,7564073,2584149,2021-04-30 08:00:00
39,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/30/2021,12:00:00,REGULAR,7564118,2584275,2021-04-30 12:00:00
40,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/30/2021,16:00:00,REGULAR,7564286,2584326,2021-04-30 16:00:00

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
2092932,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2021,05:00:00,REGULAR,5554,584,2021-06-30 05:00:00
2092933,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2021,09:00:00,REGULAR,5554,584,2021-06-30 09:00:00
2092934,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2021,13:00:00,REGULAR,5554,584,2021-06-30 13:00:00
2092935,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2021,17:00:00,REGULAR,5554,584,2021-06-30 17:00:00
2092936,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2021,21:00:00,REGULAR,5554,584,2021-06-30 21:00:00

In [6]:
df_2019[df_2019['STATION'] == '86 ST'].groupby(['STATION', 'LINENAME', 'DIVISION']).first()

                            C/A  UNIT       SCP        DATE      TIME  \
STATION LINENAME DIVISION
86 ST   1        IRT       R164  R167  00-00-00  04/30/2019  01:00:00
        456      IRT       R249  R179  01-00-00  04/30/2019  00:00:00
        BC       IND       N043  R186  00-00-00  04/30/2019  00:00:00
        N        BMT       D016  R397  00-00-00  04/30/2019  01:00:00
        R        BMT       C025  R215  00-00-00  04/30/2019  00:00:00

                              DESC  ENTRIES     EXITS            DATETIME
STATION LINENAME DIVISION
86 ST   1        IRT       REGULAR   746643   1182378 2019-04-30 01:00:00
        456      IRT       REGULAR  2655736  37564440 2019-04-30 00:00:00
        BC       IND       REGULAR   932452   1009004 2019-04-30 00:00:00
        N        BMT       REGULAR    31206     87051 2019-04-30 01:00:00
        R        BMT       REGULAR   274206     95597 2019-04-30 00:00:00

In [7]:
df_2019[df_2019['STATION'] == '96 ST'].groupby(['STATION', 'LINENAME', 'DIVISION']).first()

                             C/A  UNIT       SCP        DATE      TIME  \
STATION LINENAME DIVISION
96 ST   123      IRT       R168A  R168  00-00-00  04/30/2019  01:00:00
        6        IRT        R251  R144  00-00-00  04/30/2019  01:00:00
        BC       IND        N039  R251  01-00-00  04/30/2019  00:00:00

                              DESC   ENTRIES     EXITS            DATETIME
STATION LINENAME DIVISION
96 ST   123      IRT       REGULAR   1431092   1555222 2019-04-30 01:00:00
        6        IRT       REGULAR  23090565  15036083 2019-04-30 01:00:00
        BC       IND       REGULAR   2399506    816802 2019-04-30 00:00:00

In [8]:
df_2019[df_2019['STATION'] == 'FULTON ST'].groupby(['STATION', 'LINENAME', 'DIVISION']).first()

                               C/A  UNIT       SCP        DATE      TIME  \
STATION   LINENAME DIVISION
FULTON ST 2345ACJZ IND       N095A  R014  01-00-00  04/30/2019  01:00:00
                   IRT        R113  R028  01-01-00  04/30/2019  03:00:00
          ACJZ2345 BMT        A077  R028  03-00-00  04/30/2019  03:00:00
                   IND        N095  R014  00-03-00  04/30/2019  01:00:00
          G        IND        N422  R318  00-00-00  04/30/2019  00:00:00

                                DESC    ENTRIES      EXITS            DATETIME
STATION   LINENAME DIVISION
FULTON ST 2345ACJZ IND       REGULAR     944695     381489 2019-04-30 01:00:00
                   IRT       REGULAR  235202041  151226447 2019-04-30 03:00:00
          ACJZ2345 BMT       REGULAR      49810      15396 2019-04-30 03:00:00
                   IND       REGULAR    3653958    2076321 2019-04-30 01:00:00
          G        IND       REGULAR    6257391    7861659 2019-04-30 00:00:00

In [9]:
df_2021.groupby(['STATION', 'LINENAME', 'DIVISION']).first().shape

(484, 9)

In [10]:
df_2021.groupby(['STATION', 'LINENAME']).first().shape

(478, 10)

In [11]:
df_2019.groupby(['STATION', 'LINENAME']).first().reset_index()['STATION'].value_counts().head(71)

23 ST              5
86 ST              5
125 ST             4
145 ST             3
50 ST              3
FULTON ST          3
FT HAMILTON PKY    3
18 AV              3
BAY PKWY           3
34 ST-PENN STA     3
CHAMBERS ST        3
7 AV               3
AVENUE U           3
CANAL ST           3
14 ST              3
28 ST              3
96 ST              3
CHURCH AV          3
TIMES SQ-42 ST     3
KINGS HWY          3
116 ST             3
111 ST             3
103 ST             3
59 ST              3
79 ST              2
SPRING ST          2
CATHEDRAL PKWY     2
8 AV               2
HALSEY ST          2
36 ST              2
BEDFORD PK BLVD    2
77 ST              2
42 ST-PORT AUTH    2
ROCKAWAY AV        2
RECTOR ST          2
NOSTRAND AV        2
72 ST              2
BERGEN ST          2
PROSPECT AV        2
BROADWAY           2
JAY ST-METROTEC    2
KINGSBRIDGE RD     2
PELHAM PKWY        2
PARK PLACE         2
59 ST COLUMBUS     2
GUN HILL RD        2
CLINTON-WASH AV    2
WALL ST            2
FRANKLIN AV        2
168 ST             2
167 ST             2
DYCKMAN ST         2
161/YANKEE STAD    2
METROPOLITAN AV    2
155 ST             2
14 ST-UNION SQ     2
DEKALB AV          2
WOODHAVEN BLVD     2
135 ST             2
ATL AV-BARCLAY     2
FORDHAM RD         2
104 ST             2
FLUSHING AV        2
170 ST             2
BOROUGH HALL       2
GRAND ST           2
LORIMER ST         2
VAN SICLEN AV      2
20 AV              2
COURT SQ           2
181 ST             2
Name: STATION, dtype: int64

In [12]:
df_2021.groupby(['STATION', 'LINENAME']).first().reset_index()['STATION'].value_counts().head(71)

23 ST              5
86 ST              5
125 ST             4
103 ST             3
145 ST             3
FT HAMILTON PKY    3
50 ST              3
59 ST              3
CHURCH AV          3
KINGS HWY          3
7 AV               3
CANAL ST           3
34 ST-PENN STA     3
TIMES SQ-42 ST     3
FULTON ST          3
18 AV              3
14 ST              3
96 ST              3
BAY PKWY           3
CHAMBERS ST        3
116 ST             3
111 ST             3
AVENUE U           3
28 ST              3
CATHEDRAL PKWY     2
SPRING ST          2
ROCKAWAY AV        2
42 ST-PORT AUTH    2
RECTOR ST          2
BROADWAY           2
PROSPECT AV        2
CLINTON-WASH AV    2
PARK PLACE         2
JAY ST-METROTEC    2
PELHAM PKWY        2
59 ST COLUMBUS     2
BOROUGH HALL       2
BERGEN ST          2
NOSTRAND AV        2
72 ST              2
BEDFORD PK BLVD    2
KINGSBRIDGE RD     2
77 ST              2
79 ST              2
8 AV               2
LORIMER ST         2
METROPOLITAN AV    2
ATL AV-BARCLAY     2
HALSEY ST          2
36 ST              2
GUN HILL RD        2
155 ST             2
DEKALB AV          2
170 ST             2
168 ST             2
167 ST             2
161/YANKEE STAD    2
DYCKMAN ST         2
FRANKLIN AV        2
COURT SQ           2
14 ST-UNION SQ     2
FORDHAM RD         2
WOODHAVEN BLVD     2
135 ST             2
FLUSHING AV        2
104 ST             2
VAN SICLEN AV      2
WALL ST            2
GRAND ST           2
20 AV              2
GRAND ARMY PLAZ    1
Name: STATION, dtype: int64

In [13]:
multi_stations_2019 = df_2019.groupby(['STATION', 'LINENAME']) \
                             .first().reset_index()['STATION'].value_counts().head(71).index

multi_stations_2021 = df_2021.groupby(['STATION', 'LINENAME']) \
                             .first().reset_index()['STATION'].value_counts().head(71).index

print(np.setdiff1d(multi_stations_2019, multi_stations_2021))
print(np.setdiff1d(multi_stations_2021, multi_stations_2019))

['181 ST']
['GRAND ARMY PLAZ']

In [14]:
# For now, let's drop the data for any station names that appear to cover more than 1 station
#  NOTE: These are NOT exactly the same stations in 2019 vs. 2021 (see cell directly above)

print(df_2019.shape)
df_2019 = df_2019[~df_2019['STATION'].isin(multi_stations_2019)]
print(df_2019.shape)

(1819670, 12)
(1112131, 12)

In [15]:
print(df_2021.shape)
df_2021 = df_2021[~df_2021['STATION'].isin(multi_stations_2021)]
print(df_2021.shape)

(1853303, 12)
(1138221, 12)

In [16]:
# 2020 MTA Data (all of May and June)

# dates = ['200502', '200509', '200516', '200523', '200530', '200606', '200613', '200620', '200627', '200704']

In [17]:
print('# Stations in 2019 Data: ', df_2019['STATION'].unique().shape[0])
print('# Stations in 2021 Data: ', df_2021['STATION'].unique().shape[0])

# Stations in 2019 Data:  307
# Stations in 2021 Data:  308

In [18]:
stations_2019 = df_2019['STATION'].unique()
stations_2021 = df_2021['STATION'].unique()

np.setdiff1d(stations_2021, stations_2019)

array(['181 ST', 'ASTORIA BLVD'], dtype=object)

In [19]:
np.setdiff1d(stations_2019, stations_2021)

array(['GRAND ARMY PLAZ'], dtype=object)

In [20]:
# Drop '181 ST' & 'ASTORIA BLVD' station from df_2021 since there's no 2019 point of comparison


print(df_2021.shape)
df_2021 = df_2021[~df_2021['STATION'].isin(['181 ST', 'ASTORIA BLVD'])]
df_2021.reset_index(drop=True, inplace=True)
print(df_2021.shape)

(1138221, 12)
(1130044, 12)

In [21]:
# Drop 'GRAND ARMY PLAZ' station from df_2019 since there's no 2019 point of comparison

print(df_2019.shape)
df_2019 = df_2019[~df_2019['STATION'].isin(['GRAND ARMY PLAZ'])]
df_2019.reset_index(drop=True, inplace=True)
print(df_2019.shape)

(1112131, 12)
(1110631, 12)

## Check for Duplicate 'ENTRIES'

### Start with df_2019:

In [22]:
check = df_2019.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DATETIME'])['ENTRIES'] \
                        .count().sort_values(ascending=False)
check.reset_index().head(14)

,C/A,UNIT,SCP,STATION,LINENAME,DATETIME,ENTRIES
0,N045,R187,01-00-00,81 ST-MUSEUM,BC,2019-06-02 17:00:00,2
1,N045,R187,01-00-02,81 ST-MUSEUM,BC,2019-06-01 17:00:00,2
2,N525,R142,01-00-04,DELANCEY/ESSEX,FJMZ,2019-05-11 05:00:00,2
3,N525,R142,01-00-03,DELANCEY/ESSEX,FJMZ,2019-05-11 05:00:00,2
4,N045,R187,01-00-00,81 ST-MUSEUM,BC,2019-06-01 17:00:00,2
5,N045,R187,01-00-01,81 ST-MUSEUM,BC,2019-06-01 17:00:00,2
6,N045,R187,01-00-02,81 ST-MUSEUM,BC,2019-06-02 17:00:00,2
7,N045,R187,01-06-00,81 ST-MUSEUM,BC,2019-06-11 21:00:00,2
8,N045,R187,01-00-01,81 ST-MUSEUM,BC,2019-06-02 17:00:00,2
9,N045,R187,01-00-02,81 ST-MUSEUM,BC,2019-06-17 09:00:00,2
10,G009,R151,02-00-04,CONEY IS-STILLW,DFNQ,2019-05-16 17:00:00,2
11,N045,R187,01-06-00,81 ST-MUSEUM,BC,2019-06-02 17:00:00,2
12,G009,R151,02-00-03,CONEY IS-STILLW,DFNQ,2019-05-16 17:00:00,2
13,R129,R321,00-00-00,18 ST,1,2019-06-03 00:00:00,1

In [23]:
for i in range(0, 13):
    display(df_2019[(df_2019['C/A'] == check.reset_index().iloc[i, 0:1].values[0]) & 
                    (df_2019['UNIT'] == check.reset_index().iloc[i, 1:2].values[0]) &
                    (df_2019['SCP'] == check.reset_index().iloc[i, 2:3].values[0]) &
                    (df_2019['STATION'] == check.reset_index().iloc[i, 3:4].values[0]) &
                    (df_2019['LINENAME'] == check.reset_index().iloc[i, 4:5].values[0]) &
                    (df_2019['DATETIME'] == check.reset_index().iloc[i, 5:6].values[0])])

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
598933,N045,R187,01-00-00,81 ST-MUSEUM,BC,IND,06/02/2019,17:00:00,REGULAR,5254570,6698072,2019-06-02 17:00:00
598934,N045,R187,01-00-00,81 ST-MUSEUM,BC,IND,06/02/2019,17:00:00,RECOVR AUD,5254568,6698072,2019-06-02 17:00:00

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
599015,N045,R187,01-00-02,81 ST-MUSEUM,BC,IND,06/01/2019,17:00:00,REGULAR,4324002,989878,2019-06-01 17:00:00
599016,N045,R187,01-00-02,81 ST-MUSEUM,BC,IND,06/01/2019,17:00:00,RECOVR AUD,4323998,989878,2019-06-01 17:00:00

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
255665,N525,R142,01-00-04,DELANCEY/ESSEX,FJMZ,IND,05/11/2019,05:00:00,REGULAR,13012859,11154803,2019-05-11 05:00:00
255666,N525,R142,01-00-04,DELANCEY/ESSEX,FJMZ,IND,05/11/2019,05:00:00,RECOVR AUD,13012858,11154803,2019-05-11 05:00:00

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
255622,N525,R142,01-00-03,DELANCEY/ESSEX,FJMZ,IND,05/11/2019,05:00:00,REGULAR,4452483,3799463,2019-05-11 05:00:00
255623,N525,R142,01-00-03,DELANCEY/ESSEX,FJMZ,IND,05/11/2019,05:00:00,RECOVR AUD,4452482,3799463,2019-05-11 05:00:00

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
598927,N045,R187,01-00-00,81 ST-MUSEUM,BC,IND,06/01/2019,17:00:00,REGULAR,5253806,6697182,2019-06-01 17:00:00
598928,N045,R187,01-00-00,81 ST-MUSEUM,BC,IND,06/01/2019,17:00:00,RECOVR AUD,5253801,6697182,2019-06-01 17:00:00

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
598971,N045,R187,01-00-01,81 ST-MUSEUM,BC,IND,06/01/2019,17:00:00,REGULAR,61274,53997,2019-06-01 17:00:00
598972,N045,R187,01-00-01,81 ST-MUSEUM,BC,IND,06/01/2019,17:00:00,RECOVR AUD,61273,53997,2019-06-01 17:00:00

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
599021,N045,R187,01-00-02,81 ST-MUSEUM,BC,IND,06/02/2019,17:00:00,REGULAR,4325013,990072,2019-06-02 17:00:00
599022,N045,R187,01-00-02,81 ST-MUSEUM,BC,IND,06/02/2019,17:00:00,RECOVR AUD,4325009,990072,2019-06-02 17:00:00

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
723989,N045,R187,01-06-00,81 ST-MUSEUM,BC,IND,06/11/2019,21:00:00,REGULAR,2258033,6937367,2019-06-11 21:00:00
723990,N045,R187,01-06-00,81 ST-MUSEUM,BC,IND,06/11/2019,21:00:00,RECOVR AUD,2258031,6937367,2019-06-11 21:00:00

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
598977,N045,R187,01-00-01,81 ST-MUSEUM,BC,IND,06/02/2019,17:00:00,REGULAR,62107,54363,2019-06-02 17:00:00
598978,N045,R187,01-00-01,81 ST-MUSEUM,BC,IND,06/02/2019,17:00:00,RECOVR AUD,62105,54363,2019-06-02 17:00:00

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
849614,N045,R187,01-00-02,81 ST-MUSEUM,BC,IND,06/17/2019,09:00:00,REGULAR,4343886,994027,2019-06-17 09:00:00
849615,N045,R187,01-00-02,81 ST-MUSEUM,BC,IND,06/17/2019,09:00:00,RECOVR AUD,4343885,994027,2019-06-17 09:00:00

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
213222,G009,R151,02-00-04,CONEY IS-STILLW,DFNQ,BMT,05/16/2019,17:00:00,REGULAR,7536822,10680589,2019-05-16 17:00:00
213223,G009,R151,02-00-04,CONEY IS-STILLW,DFNQ,BMT,05/16/2019,17:00:00,RECOVR AUD,7536822,10680584,2019-05-16 17:00:00

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
599064,N045,R187,01-06-00,81 ST-MUSEUM,BC,IND,06/02/2019,17:00:00,REGULAR,2254050,6925123,2019-06-02 17:00:00
599065,N045,R187,01-06-00,81 ST-MUSEUM,BC,IND,06/02/2019,17:00:00,RECOVR AUD,2254049,6925123,2019-06-02 17:00:00

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
213179,G009,R151,02-00-03,CONEY IS-STILLW,DFNQ,BMT,05/16/2019,17:00:00,REGULAR,340288,480412,2019-05-16 17:00:00
213180,G009,R151,02-00-03,CONEY IS-STILLW,DFNQ,BMT,05/16/2019,17:00:00,RECOVR AUD,340287,480411,2019-05-16 17:00:00

#### All the duplicate rows above look like 'RECOVER AUD' instances that are virtually identical to the 'DESC' rows; safe to just drop them

In [24]:
print(df_2019.shape)

df_2019 = df_2019.sort_values(by=['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DATETIME'], ascending=False) \
                             .drop_duplicates(subset=['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DATETIME'])

df_2019.reset_index(drop=True, inplace=True)
print(df_2019.shape)

(1110631, 12)
(1110618, 12)

### Now deal with duplicates in df_2021:

In [25]:
check = df_2021.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DATETIME'])['ENTRIES'] \
                         .count().sort_values(ascending=False)
check.reset_index().head(7)

    C/A  UNIT       SCP       STATION LINENAME            DATETIME  ENTRIES
0  N213  R154  00-00-05    TREMONT AV       BD 2021-06-23 05:00:00        2
1  N310  R140  01-06-00  QUEENS PLAZA      EMR 2021-05-20 17:00:00        2
2  N335  R158  01-00-04   KEW GARDENS       EF 2021-06-20 18:30:00        2
3  N335  R158  01-00-03   KEW GARDENS       EF 2021-06-20 18:30:00        2
4  N336  R158  00-00-05   KEW GARDENS       EF 2021-06-20 18:30:00        2
5  N213  R154  00-00-00    TREMONT AV       BD 2021-06-23 05:00:00        2
6  R124  R290  03-00-00    HOUSTON ST        1 2021-05-01 09:00:00        1

In [26]:
for i in range(0, 6):
    display(df_2021[(df_2021['C/A'] == check.reset_index().iloc[i, 0:1].values[0]) & 
                    (df_2021['UNIT'] == check.reset_index().iloc[i, 1:2].values[0]) &
                    (df_2021['SCP'] == check.reset_index().iloc[i, 2:3].values[0]) &
                    (df_2021['STATION'] == check.reset_index().iloc[i, 3:4].values[0]) &
                    (df_2021['LINENAME'] == check.reset_index().iloc[i, 4:5].values[0]) &
                    (df_2021['DATETIME'] == check.reset_index().iloc[i, 5:6].values[0])])

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
949362,N213,R154,00-00-05,TREMONT AV,BD,IND,06/23/2021,05:00:00,REGULAR,369307076,100833056,2021-06-23 05:00:00
949363,N213,R154,00-00-05,TREMONT AV,BD,IND,06/23/2021,05:00:00,RECOVR AUD,369307075,100833056,2021-06-23 05:00:00

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
315304,N310,R140,01-06-00,QUEENS PLAZA,EMR,IND,05/20/2021,17:00:00,REGULAR,928040,336006,2021-05-20 17:00:00
315305,N310,R140,01-06-00,QUEENS PLAZA,EMR,IND,05/20/2021,17:00:00,RECOVR AUD,917544,17105542,2021-05-20 17:00:00

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
959746,N335,R158,01-00-04,KEW GARDENS,EF,IND,06/20/2021,18:30:00,REGULAR,6718777,26526659,2021-06-20 18:30:00
959747,N335,R158,01-00-04,KEW GARDENS,EF,IND,06/20/2021,18:30:00,RECOVR AUD,6718777,26526664,2021-06-20 18:30:00

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
959703,N335,R158,01-00-03,KEW GARDENS,EF,IND,06/20/2021,18:30:00,REGULAR,5201958,17258849,2021-06-20 18:30:00
959704,N335,R158,01-00-03,KEW GARDENS,EF,IND,06/20/2021,18:30:00,RECOVR AUD,5201960,17258853,2021-06-20 18:30:00

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
960207,N336,R158,00-00-05,KEW GARDENS,EF,IND,06/20/2021,18:30:00,REGULAR,8833758,2334264,2021-06-20 18:30:00
960208,N336,R158,00-00-05,KEW GARDENS,EF,IND,06/20/2021,18:30:00,RECOVR AUD,8833758,2334263,2021-06-20 18:30:00

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
949151,N213,R154,00-00-00,TREMONT AV,BD,IND,06/23/2021,05:00:00,REGULAR,3682483,2760115,2021-06-23 05:00:00
949152,N213,R154,00-00-00,TREMONT AV,BD,IND,06/23/2021,05:00:00,RECOVR AUD,3682482,2760115,2021-06-23 05:00:00

#### Looks like the same kind of situation as with df_2019; will just drop the duplicates

In [27]:
print(df_2021.shape)

df_2021 = df_2021.sort_values(by=['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DATETIME'], ascending=False) \
                             .drop_duplicates(subset=['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DATETIME'])

df_2021.reset_index(drop=True, inplace=True)
print(df_2021.shape)

(1130044, 12)
(1130038, 12)

## Find Daily Entries (Based on Last per Day)

In [28]:
# Recall that dataframe is already sorted with last count of day appearing first in each group

daily_entries_2019 = df_2019.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DATE'])['ENTRIES'] \
                                      .first().reset_index()
daily_entries_2019.head(50)

     C/A  UNIT       SCP     STATION LINENAME        DATE  ENTRIES
0   A006  R079  00-00-00  5 AV/59 ST     NQRW  04/30/2019  3840599
1   A006  R079  00-00-00  5 AV/59 ST     NQRW  05/01/2019  3842287
2   A006  R079  00-00-00  5 AV/59 ST     NQRW  05/02/2019  3843994
3   A006  R079  00-00-00  5 AV/59 ST     NQRW  05/03/2019  3845676
4   A006  R079  00-00-00  5 AV/59 ST     NQRW  05/04/2019  3846591
5   A006  R079  00-00-00  5 AV/59 ST     NQRW  05/05/2019  3847254
6   A006  R079  00-00-00  5 AV/59 ST     NQRW  05/06/2019  3848806
7   A006  R079  00-00-00  5 AV/59 ST     NQRW  05/07/2019  3850544
8   A006  R079  00-00-00  5 AV/59 ST     NQRW  05/08/2019  3852231
9   A006  R079  00-00-00  5 AV/59 ST     NQRW  05/09/2019  3853896
10  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/10/2019  3855493
11  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/11/2019  3856531
12  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/12/2019  3857140
13  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/13/2019  3858682
14  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/14/2019  3860406
15  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/15/2019  3862108
16  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/16/2019  3863807
17  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/17/2019  3865452
18  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/18/2019  3866492
19  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/19/2019  3867331
20  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/20/2019  3868838
21  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/21/2019  3870576
22  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/22/2019  3872228
23  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/23/2019  3873930
24  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/24/2019  3875507
25  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/25/2019  3876481
26  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/26/2019  3877273
27  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/27/2019  3878056
28  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/28/2019  3879608
29  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/29/2019  3881333
30  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/30/2019  3883035
31  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/31/2019  3884715
32  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/01/2019  3885702
33  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/02/2019  3886421
34  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/03/2019  3888008
35  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/04/2019  3889794
36  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/05/2019  3891512
37  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/06/2019  3893279
38  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/07/2019  3894983
39  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/08/2019  3895985
40  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/09/2019  3896717
41  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/10/2019  3898245
42  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/11/2019  3900021
43  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/12/2019  3901757
44  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/13/2019  3903523
45  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/14/2019  3905242
46  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/15/2019  3906257
47  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/16/2019  3907003
48  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/17/2019  3908554
49  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/18/2019  3910233

In [29]:
daily_entries_2021 = df_2021.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DATE'])['ENTRIES'] \
                                      .first().reset_index()
daily_entries_2021.head(50)

     C/A  UNIT       SCP     STATION LINENAME        DATE  ENTRIES
0   A006  R079  00-00-00  5 AV/59 ST     NQRW  04/30/2021  4448722
1   A006  R079  00-00-00  5 AV/59 ST     NQRW  05/01/2021  4449232
2   A006  R079  00-00-00  5 AV/59 ST     NQRW  05/02/2021  4449552
3   A006  R079  00-00-00  5 AV/59 ST     NQRW  05/03/2021  4450203
4   A006  R079  00-00-00  5 AV/59 ST     NQRW  05/04/2021  4451005
5   A006  R079  00-00-00  5 AV/59 ST     NQRW  05/05/2021  4451684
6   A006  R079  00-00-00  5 AV/59 ST     NQRW  05/06/2021  4452379
7   A006  R079  00-00-00  5 AV/59 ST     NQRW  05/07/2021  4453042
8   A006  R079  00-00-00  5 AV/59 ST     NQRW  05/08/2021  4453426
9   A006  R079  00-00-00  5 AV/59 ST     NQRW  05/09/2021  4453737
10  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/10/2021  4454338
11  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/11/2021  4454950
12  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/12/2021  4455688
13  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/13/2021  4456402
14  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/14/2021  4457088
15  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/15/2021  4457593
16  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/16/2021  4457925
17  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/17/2021  4458584
18  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/18/2021  4459289
19  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/19/2021  4460009
20  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/20/2021  4460758
21  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/21/2021  4461475
22  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/22/2021  4461536
23  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/23/2021  4461536
24  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/24/2021  4462133
25  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/25/2021  4462842
26  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/26/2021  4463529
27  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/27/2021  4464258
28  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/28/2021  4464879
29  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/29/2021  4465218
30  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/30/2021  4465463
31  A006  R079  00-00-00  5 AV/59 ST     NQRW  05/31/2021  4465832
32  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/01/2021  4466500
33  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/02/2021  4467193
34  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/03/2021  4467845
35  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/04/2021  4468403
36  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/05/2021  4468830
37  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/06/2021  4469137
38  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/07/2021  4469767
39  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/08/2021  4470420
40  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/09/2021  4471099
41  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/10/2021  4471752
42  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/11/2021  4472398
43  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/12/2021  4472806
44  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/13/2021  4473123
45  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/14/2021  4473809
46  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/15/2021  4474562
47  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/16/2021  4475291
48  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/17/2021  4476073
49  A006  R079  00-00-00  5 AV/59 ST     NQRW  06/18/2021  4476820

## Add 'PREV_DAY_ENTRIES' Column

In [30]:
# disable chained assignments
pd.options.mode.chained_assignment = None

daily_entries_2019['PREV_DAY_ENTRIES'] = daily_entries_2019['ENTRIES'].shift(1)

# Drop NaNs associated with 04/30/2019 rows and covert the new column to integer
print(daily_entries_2019.shape)
daily_entries_2019 = daily_entries_2019[~(daily_entries_2019['DATE'] == '04/30/2019')]
daily_entries_2019.reset_index(drop=True, inplace=True)
print(daily_entries_2019.shape)
daily_entries_2019['PREV_DAY_ENTRIES'] = daily_entries_2019['PREV_DAY_ENTRIES'].astype('int')

display(daily_entries_2019.head(10))
display(daily_entries_2019.tail(10))

(183891, 8)
(180921, 8)

,C/A,UNIT,SCP,STATION,LINENAME,DATE,ENTRIES,PREV_DAY_ENTRIES
0,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/01/2019,3842287,3840599
1,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/02/2019,3843994,3842287
2,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/03/2019,3845676,3843994
3,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/04/2019,3846591,3845676
4,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/05/2019,3847254,3846591
5,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/06/2019,3848806,3847254
6,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/07/2019,3850544,3848806
7,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/08/2019,3852231,3850544
8,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/09/2019,3853896,3852231
9,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/10/2019,3855493,3853896

,C/A,UNIT,SCP,STATION,LINENAME,DATE,ENTRIES,PREV_DAY_ENTRIES
180911,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/21/2019,5554,5554
180912,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/22/2019,5554,5554
180913,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/23/2019,5554,5554
180914,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/24/2019,5554,5554
180915,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/25/2019,5554,5554
180916,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/26/2019,5554,5554
180917,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/27/2019,5554,5554
180918,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/28/2019,5554,5554
180919,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/29/2019,5554,5554
180920,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/30/2019,5554,5554

In [31]:
daily_entries_2021['PREV_DAY_ENTRIES'] = daily_entries_2021['ENTRIES'].shift(1)

# Drop NaNs associated with 04/30/2021 rows and covert the new column to integer
print(daily_entries_2021.shape)
daily_entries_2021 = daily_entries_2021[~(daily_entries_2021['DATE'] == '04/30/2021')]
daily_entries_2021.reset_index(drop=True, inplace=True)
print(daily_entries_2021.shape)
daily_entries_2021['PREV_DAY_ENTRIES'] = daily_entries_2021['PREV_DAY_ENTRIES'].astype('int')

display(daily_entries_2021.head(10))
display(daily_entries_2021.tail(10))

(189114, 8)
(186066, 8)

,C/A,UNIT,SCP,STATION,LINENAME,DATE,ENTRIES,PREV_DAY_ENTRIES
0,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/01/2021,4449232,4448722
1,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/02/2021,4449552,4449232
2,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/03/2021,4450203,4449552
3,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/04/2021,4451005,4450203
4,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/05/2021,4451684,4451005
5,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/06/2021,4452379,4451684
6,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/07/2021,4453042,4452379
7,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/08/2021,4453426,4453042
8,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/09/2021,4453737,4453426
9,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/10/2021,4454338,4453737

,C/A,UNIT,SCP,STATION,LINENAME,DATE,ENTRIES,PREV_DAY_ENTRIES
186056,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/21/2021,5554,5554
186057,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/22/2021,5554,5554
186058,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/23/2021,5554,5554
186059,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/24/2021,5554,5554
186060,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/25/2021,5554,5554
186061,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/26/2021,5554,5554
186062,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/27/2021,5554,5554
186063,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/28/2021,5554,5554
186064,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/29/2021,5554,5554
186065,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/30/2021,5554,5554

## Add 'NET_ENTRIES' Column

In [32]:
# Start with a function which attempts to deal with reversed counters and reset/rollovers
#    (adapted from function provided in mta-pair-2-solution.ipynb)
#    NOTE: Studying the systemwide MTA average daily ridership per station data provided 
#    here (https://new.mta.info/document/16136) shows that from 2014-19, the highest average
#    was about 253,000 riders per day (Times Sq-42 St/42 St), so it seems reasonable to set
#    the max_counter parameter to 300,000, far below the 1e6 value used in the soution notebook

def get_daily_counts(row, max_counter=300000):
    counter = row["ENTRIES"] - row["PREV_DAY_ENTRIES"]
    if counter < 0:
        counter = -counter
    if counter > max_counter:
        # This assumes counter rollover, so sets it back to 0
        return 0
    return counter

In [33]:
daily_entries_2019['NET_ENTRIES'] = daily_entries_2019.apply(get_daily_counts, axis=1)
print(daily_entries_2019['NET_ENTRIES'].describe())
display(daily_entries_2019.head())
display(daily_entries_2019.tail())

count    180921.000000
mean       1117.104631
std        4978.870740
min           0.000000
25%         212.000000
50%         701.000000
75%        1441.000000
max      296334.000000
Name: NET_ENTRIES, dtype: float64

,C/A,UNIT,SCP,STATION,LINENAME,DATE,ENTRIES,PREV_DAY_ENTRIES,NET_ENTRIES
0,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/01/2019,3842287,3840599,1688
1,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/02/2019,3843994,3842287,1707
2,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/03/2019,3845676,3843994,1682
3,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/04/2019,3846591,3845676,915
4,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/05/2019,3847254,3846591,663

,C/A,UNIT,SCP,STATION,LINENAME,DATE,ENTRIES,PREV_DAY_ENTRIES,NET_ENTRIES
180916,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/26/2019,5554,5554,0
180917,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/27/2019,5554,5554,0
180918,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/28/2019,5554,5554,0
180919,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/29/2019,5554,5554,0
180920,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/30/2019,5554,5554,0

In [34]:
daily_entries_2021['NET_ENTRIES'] = daily_entries_2021.apply(get_daily_counts, axis=1)
print(daily_entries_2021['NET_ENTRIES'].describe())
display(daily_entries_2021.head())
display(daily_entries_2021.tail())

count    186066.000000
mean        363.374856
std        2148.298969
min           0.000000
25%          66.000000
50%         231.000000
75%         488.000000
max      281805.000000
Name: NET_ENTRIES, dtype: float64

,C/A,UNIT,SCP,STATION,LINENAME,DATE,ENTRIES,PREV_DAY_ENTRIES,NET_ENTRIES
0,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/01/2021,4449232,4448722,510
1,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/02/2021,4449552,4449232,320
2,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/03/2021,4450203,4449552,651
3,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/04/2021,4451005,4450203,802
4,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/05/2021,4451684,4451005,679

,C/A,UNIT,SCP,STATION,LINENAME,DATE,ENTRIES,PREV_DAY_ENTRIES,NET_ENTRIES
186061,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/26/2021,5554,5554,0
186062,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/27/2021,5554,5554,0
186063,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/28/2021,5554,5554,0
186064,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/29/2021,5554,5554,0
186065,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/30/2021,5554,5554,0

## Add an indicator column for 'WEEKDAY' (1 for M-F, 0 for Sat/Sun)

In [35]:
# pd.Series.dt.weekday: 0 = Mon, 6 = Sun

daily_entries_2019['WEEKDAY'] = pd.to_datetime(daily_entries_2019['DATE']) \
                                  .dt.weekday.apply(lambda x: 1 if x < 5 else 0)
display(daily_entries_2019.head())
display(daily_entries_2019.tail())

,C/A,UNIT,SCP,STATION,LINENAME,DATE,ENTRIES,PREV_DAY_ENTRIES,NET_ENTRIES,WEEKDAY
0,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/01/2019,3842287,3840599,1688,1
1,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/02/2019,3843994,3842287,1707,1
2,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/03/2019,3845676,3843994,1682,1
3,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/04/2019,3846591,3845676,915,0
4,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/05/2019,3847254,3846591,663,0

,C/A,UNIT,SCP,STATION,LINENAME,DATE,ENTRIES,PREV_DAY_ENTRIES,NET_ENTRIES,WEEKDAY
180916,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/26/2019,5554,5554,0,1
180917,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/27/2019,5554,5554,0,1
180918,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/28/2019,5554,5554,0,1
180919,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/29/2019,5554,5554,0,0
180920,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/30/2019,5554,5554,0,0

In [36]:
daily_entries_2021['WEEKDAY'] = pd.to_datetime(daily_entries_2021['DATE']) \
                                  .dt.weekday.apply(lambda x: 1 if x < 5 else 0)
display(daily_entries_2021.head())
display(daily_entries_2021.tail())

,C/A,UNIT,SCP,STATION,LINENAME,DATE,ENTRIES,PREV_DAY_ENTRIES,NET_ENTRIES,WEEKDAY
0,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/01/2021,4449232,4448722,510,0
1,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/02/2021,4449552,4449232,320,0
2,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/03/2021,4450203,4449552,651,1
3,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/04/2021,4451005,4450203,802,1
4,A006,R079,00-00-00,5 AV/59 ST,NQRW,05/05/2021,4451684,4451005,679,1

,C/A,UNIT,SCP,STATION,LINENAME,DATE,ENTRIES,PREV_DAY_ENTRIES,NET_ENTRIES,WEEKDAY
186061,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/26/2021,5554,5554,0,0
186062,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/27/2021,5554,5554,0,0
186063,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/28/2021,5554,5554,0,1
186064,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/29/2021,5554,5554,0,1
186065,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,06/30/2021,5554,5554,0,1

In [37]:
# Drop unnecessary columns

daily_entries_2019.drop(['C/A', 'UNIT', 'SCP', 'ENTRIES', 'PREV_DAY_ENTRIES'], axis=1, inplace=True)
daily_entries_2021.drop(['C/A', 'UNIT', 'SCP', 'ENTRIES', 'PREV_DAY_ENTRIES'], axis=1, inplace=True)

display(daily_entries_2019.head())
display(daily_entries_2021.head())

      STATION LINENAME        DATE  NET_ENTRIES  WEEKDAY
0  5 AV/59 ST     NQRW  05/01/2019         1688        1
1  5 AV/59 ST     NQRW  05/02/2019         1707        1
2  5 AV/59 ST     NQRW  05/03/2019         1682        1
3  5 AV/59 ST     NQRW  05/04/2019          915        0
4  5 AV/59 ST     NQRW  05/05/2019          663        0

      STATION LINENAME        DATE  NET_ENTRIES  WEEKDAY
0  5 AV/59 ST     NQRW  05/01/2021          510        0
1  5 AV/59 ST     NQRW  05/02/2021          320        0
2  5 AV/59 ST     NQRW  05/03/2021          651        1
3  5 AV/59 ST     NQRW  05/04/2021          802        1
4  5 AV/59 ST     NQRW  05/05/2021          679        1

## Bring in External Data

### Start with mapping neighborhoods to zip codes

In [38]:
neighborhoods_zips = pd.read_csv('https://raw.githubusercontent.com/erikgregorywebb/nyc-housing/master/Data/nyc-zip-codes.csv',)

# Check for NaNs
display(neighborhoods_zips[neighborhoods_zips.isna().any(axis=1)])

display(neighborhoods_zips.head())

# Confirm all zips are of length 5
print(neighborhoods_zips['ZipCode'].unique())

Empty DataFrame
Columns: [Borough, Neighborhood, ZipCode]
Index: []

  Borough            Neighborhood  ZipCode
0   Bronx           Central Bronx    10453
1   Bronx           Central Bronx    10457
2   Bronx           Central Bronx    10460
3   Bronx  Bronx Park and Fordham    10458
4   Bronx  Bronx Park and Fordham    10467

[10453 10457 10460 10458 10467 10468 10451 10452 10456 10454 10455 10459
 10474 10463 10471 10466 10469 10470 10475 10461 10462 10464 10465 10472
 10473 11212 11213 11216 11233 11238 11209 11214 11228 11204 11218 11219
 11230 11234 11236 11239 11223 11224 11229 11235 11201 11205 11215 11217
 11231 11203 11210 11225 11226 11207 11208 11211 11222 11220 11232 11206
 11221 11237 10026 10027 10030 10037 10039 10001 10011 10018 10019 10020
 10036 10029 10035 10010 10016 10017 10022 10012 10013 10014 10004 10005
 10006 10007 10038 10280 10002 10003 10009 10021 10028 10044 10065 10075
 10128 10023 10024 10025 10031 10032 10033 10034 10040 11361 11362 11363
 11364 11354 11355 11356 11357 11358 11359 11360 11365 11366 11367 11412
 11423 11432 11433 11434 11435 11436 11101 11102 11103 11104 11105 11106
 11374 11375 11379 11385 11691 11692 11693 11694 11695 11697 11004 11005
 11411 11413 11422 11426 11427 11428 11429 11414 11415 11416 11417 11418
 11419 11420 11421 11368 11369 11370 11372 11373 11377 11378 10302 10303
 10310 10306 10307 10308 10309 10312 10301 10304 10305 10314]

### Now Latitude & Longitude per Station

In [39]:
# Longitude comes first in this dataset: 'POINT(longitude, latitude)'

lat_long_stations = pd.read_csv('https://raw.githubusercontent.com/peterskim12/appsearch-subway-example/master/DOITT_SUBWAY_STATION_01_13SEPT2010.csv', 
                                 header=None)
lat_long_stations = lat_long_stations.iloc[:, 2:4]
lat_long_stations.columns = ['STATION', 'LONG_LAT']
lat_long_stations['LATITUDE'] = lat_long_stations['LONG_LAT'] \
                                  .apply(lambda x: float(x.replace('POINT (', '').replace(')', '').split()[1]))
lat_long_stations['LONGITUDE'] = lat_long_stations['LONG_LAT'] \
                                  .apply(lambda x: float(x.replace('POINT (', '').replace(')', '').split()[0]))
lat_long_stations.drop('LONG_LAT', axis=1, inplace=True)

lat_long_stations

                                STATION   LATITUDE  LONGITUDE
0                              Astor Pl  40.730054 -73.991070
1                              Canal St  40.718803 -74.000193
2                               50th St  40.761728 -73.983849
3                             Bergen St  40.680862 -73.974999
4                      Pennsylvania Ave  40.664714 -73.894886
5                              238th St  40.884667 -73.900870
6             Cathedral Pkwy (110th St)  40.800582 -73.958067
7                Kingston - Throop Aves  40.679919 -73.940859
8                               65th St  40.749720 -73.898788
9                               36th St  40.751960 -73.929018
10               Delancey St - Essex St  40.718306 -73.987409
11                       Van Siclen Ave  40.678028 -73.891658
12                          Norwood Ave  40.681520 -73.879626
13                      104th-102nd Sts  40.695166 -73.844435
14                           DeKalb Ave  40.690648 -73.981771
15                       Beach 105th St  40.583268 -73.827581
16                        Beach 90th St  40.588092 -73.813651
17                           Freeman St  40.829987 -73.891752
18                        Intervale Ave  40.822142 -73.896617
19                      182nd-183rd Sts  40.856093 -73.900741
20                      174th-175th Sts  40.845900 -73.910136
21                             167th St  40.833769 -73.918432
22                 Mets - Willets Point  40.754622 -73.845625
23                        Junction Blvd  40.749145 -73.869527
24                   Flushing - Main St  40.759600 -73.830030
25                            Buhre Ave  40.846810 -73.832569
26                   3rd Ave - 138th St  40.810476 -73.926138
27                      Castle Hill Ave  40.834255 -73.851222
28          Brooklyn Bridge - City Hall  40.713065 -74.004131
29                           Zerega Ave  40.836488 -73.847036
30              Grand Central - 42nd St  40.751807 -73.976713
31                              33rd St  40.746081 -73.982076
32                              96th St  40.785672 -73.951070
33                              77th St  40.773620 -73.959874
34                          Chauncey St  40.682851 -73.910384
35                             Union St  40.677316 -73.983110
36                         Elmhurst Ave  40.742370 -73.882035
37                            Ralph Ave  40.678822 -73.920786
38                          Pelham Pkwy  40.857192 -73.867481
39                          Gun Hill Rd  40.877839 -73.866134
40                  Nereid Ave (238 St)  40.898287 -73.854315
41                         Franklin Ave  40.670765 -73.958100
42                           Simpson St  40.823977 -73.893066
43                      Bronx Park East  40.848769 -73.868356
44                          Winthrop St  40.656659 -73.950079
45                       Van Siclen Ave  40.665518 -73.889405
46           149th St - Grand Concourse  40.818303 -73.927385
47            161st St - Yankee Stadium  40.828230 -73.925692
48              Lexington Ave - 59th St  40.762526 -73.967967
49                           E 149th St  40.812118 -73.904098
50              Morrison Av - Soundview  40.829521 -73.874516
51                         Whitlock Ave  40.826525 -73.886283
52                      St Lawrence Ave  40.831509 -73.867618
53                   Woodside - 61st St  40.745630 -73.902984
54              Far Rockaway - Mott Ave  40.603995 -73.755405
55                              72nd St  40.775519 -73.976337
56                              96th St  40.791619 -73.964602
57                             168th St  40.840719 -73.939561
58                       Kingsbridge Rd  40.866978 -73.893509
59                  42nd St - Bryant Pk  40.754184 -73.984591
60                        Prospect Park  40.661633 -73.962031
61                              55th St  40.631479 -73.995349
62                   Jamaica - Van Wyck  40.702899 -73.817013
63             Kew Gardens - Union Tpke  40.714035 -73.830370
64             Sutphin Blvd - Archer Av  40.700382 -73.808005
65                   Court Sq - 23rd St  40.747768 -73.946055
66                             67th Ave  40.726505 -73.852860
67                  Grand Ave - Newtown  40.736813 -73.877221
68                           Ditmas Ave  40.636119 -73.978172
69                          Classon Ave  40.688889 -73.959990
70                             Broadway  40.706127 -73.950312
71                           Lorimer St  40.714072 -73.950248
72                           Sutter Ave  40.669145 -73.901916
73                           Wilson Ave  40.688867 -73.903959
74                            Halsey St  40.686415 -73.916639
75                           Lorimer St  40.703844 -73.947355
76                              8th Ave  40.634971 -74.011516
77                             36th Ave  40.756442 -73.929862
78                             Broadway  40.761432 -73.925823
79                   Times Sq - 42nd St  40.754612 -73.986768
80              Grand Central - 42nd St  40.752769 -73.979189
81                              Park Pl  40.674772 -73.957624
82                             111th St  40.684331 -73.832163
83     W 4th St - Washington Sq (Lower)  40.732254 -74.000308
84                              51st St  40.757107 -73.971920
85                              86th St  40.788644 -73.976218
86                             233rd St  40.893143 -73.857362
87                66th St - Lincoln Ctr  40.773440 -73.982209
88                      Hunts Point Ave  40.820948 -73.890549
89                             Canal St  40.722854 -74.006277
90                        Middletown Rd  40.843863 -73.836322
91                              23rd St  40.739864 -73.986599
92                             Court Sq  40.747023 -73.945264
93            59th St - Columbus Circle  40.768247 -73.981929
94                    Hunters Point Ave  40.742216 -73.948916
95                              23rd St  40.744081 -73.995657
96                           Houston St  40.728251 -74.005367
97                             104th St  40.681711 -73.837683
98                        Broad Channel  40.608402 -73.815833
99                           Ocean Pkwy  40.576312 -73.968501
100           Vernon Blvd - Jackson Ave  40.742626 -73.953581
101            68th St - Hunter College  40.768141 -73.963870
102                      Queensboro Plz  40.750636 -73.940164
103                       Rockaway Blvd  40.680429 -73.843853
104                  Union Sq - 14th St  40.734673 -73.989951
105             Bedford - Nostrand Aves  40.689627 -73.953522
106             15th St - Prospect Park  40.660036 -73.979736
107                             7th Ave  40.666245 -73.980251
108                    Ft Hamilton Pkwy  40.650782 -73.975776
109                          Church Ave  40.644272 -73.979721
110                          Beverly Rd  40.643905 -73.964358
111                          Church Ave  40.650493 -73.962882
112                         Newkirk Ave  40.635142 -73.962695
113                        Parkside Ave  40.655073 -73.961453
114                    Grand Army Plaza  40.675295 -73.970956
115      Atlantic Av - Barclay's Center  40.684420 -73.977550
116                        Rockaway Ave  40.678340 -73.911946
117                           Fulton St  40.687119 -73.975375
118           Clinton - Washington Aves  40.688094 -73.966796
119                             7th Ave  40.677102 -73.972853
120      Atlantic Av - Barclay's Center  40.684488 -73.976783
121      Atlantic Av - Barclay's Center  40.683666 -73.978810
122                        Borough Hall  40.692404 -73.990151
123                  Aqueduct Racetrack  40.672097 -73.835919
124                         Morris Park  40.854364 -73.860495
125                         Pelham Pkwy  40.858985 -73.855359
126                        Nostrand Ave  40.680438 -73.950426
127                           Nevins St  40.688311 -73.980407
128         Eastern Pkwy - Bklyn Museum  40.672032 -73.964222
129                          Beverly Rd  40.645124 -73.948848
130                          Church Ave  40.650861 -73.949455
131                         Newkirk Ave  40.639991 -73.948300
132     Brooklyn College - Flatbush Ave  40.632842 -73.947541
133                         Sterling St  40.662773 -73.950729
134               Crown Hts - Utica Ave  40.668978 -73.932933
135                        Kingston Ave  40.669481 -73.942160
136                          Nassau Ave  40.724480 -73.951183
137                      Greenpoint Ave  40.731267 -73.954425
138                           Marcy Ave  40.708383 -73.957832
139                            Hewes St  40.706890 -73.953488
140          138th St - Grand Concourse  40.813224 -73.929849
141                   5th Ave - 53rd St  40.760087 -73.975249
142             Lexington Ave - 53rd St  40.757468 -73.969072
143                             28th St  40.745454 -73.988698
144                 Herald Sq - 34th St  40.749645 -73.987937
145                             1st Ave  40.730975 -73.981681
146                  Times Sq - 42nd St  40.755983 -73.986229
147                    Metropolitan Ave  40.712774 -73.951424
148                            Grand St  40.711576 -73.940497
149                          Graham Ave  40.714576 -73.943944
150                         Bedford Ave  40.717174 -73.956665
151                        Montrose Ave  40.707391 -73.939793
152         Long Island City - Court Sq  40.746305 -73.943816
153                             21st St  40.744129 -73.949600
154                            39th Ave  40.752763 -73.932851
155                            145th St  40.826551 -73.950360
156                            157th St  40.834041 -73.944890
157                             96th St  40.793919 -73.972323
158                            103rd St  40.799446 -73.968379
159       Central Park North (110th St)  40.799075 -73.951822
160                            103rd St  40.796061 -73.961370
161                             72nd St  40.778453 -73.981970
162                             81st St  40.781346 -73.972098
163                            75th Ave  40.718045 -73.836924
164                             86th St  40.785823 -73.968828
165           Cathedral Pkwy (110th St)  40.803967 -73.966847
166      116th St - Columbia University  40.807722 -73.964110
167                            125th St  40.807754 -73.945495
168                            135th St  40.814229 -73.940770
169                            116th St  40.802098 -73.949625
170                         Tremont Ave  40.850410 -73.905227
171             137th St - City College  40.822008 -73.953676
172                            145th St  40.820421 -73.936245
173                            176th St  40.848480 -73.911794
174                        Burnside Ave  40.853453 -73.907684
175                            170th St  40.839306 -73.913400
176                            168th St  40.840556 -73.940133
177                            181st St  40.849505 -73.933596
178                            191st St  40.855225 -73.929412
179                            175th St  40.847391 -73.939704
180                       Beach 44th St  40.592943 -73.776013
181                       Beach 60th St  40.592374 -73.788522
182                       Beach 98th St  40.585386 -73.820521
183        Rockaway Park - Beach 116 St  40.580956 -73.835590
184                       Beach 36th St  40.595398 -73.768175
185                       Beach 25th St  40.600066 -73.761353
186                        Parsons Blvd  40.707572 -73.803289
187                            169th St  40.710518 -73.793474
188             103rd St - Corona Plaza  40.749865 -73.862700
189                            111th St  40.751730 -73.855334
190                 63rd Dr - Rego Park  40.729764 -73.861618
191                           Grant Ave  40.677044 -73.865050
192                             79th St  40.783934 -73.979917
193                        Atlantic Ave  40.675345 -73.903097
194        Christopher St - Sheridan Sq  40.733422 -74.002906
195          Ozone Park - Lefferts Blvd  40.685951 -73.825798
196                  Times Sq - 42nd St  40.755477 -73.987691
197              W 8th St - NY Aquarium  40.576034 -73.975958
198                             28th St  40.747215 -73.993365
199                             28th St  40.743070 -73.984264
200                     Pelham Bay Park  40.852462 -73.828121
201      Westchester Sq - E Tremont Ave  40.839892 -73.842952
202                             18th St  40.741040 -73.997871
203             Grand Central - 42nd St  40.751431 -73.976041
204                       Beach 67th St  40.590927 -73.796924
205    W 4th St - Washington Sq (Upper)  40.732338 -74.000495
206                85th St - Forest Pky  40.692427 -73.860087
207                      Woodhaven Blvd  40.693704 -73.852052
208                            111th St  40.697115 -73.836793
209                            121st St  40.700482 -73.828349
210                           Halsey St  40.695518 -73.903934
211               Myrtle - Wyckoff Aves  40.699471 -73.910976
212                        New Lots Ave  40.666315 -73.884111
213                      Van Siclen Ave  40.672710 -73.890358
214                        Cleveland St  40.679778 -73.885194
215                         Livonia Ave  40.664057 -73.900562
216                           Junius St  40.663589 -73.902449
217                        Rockaway Ave  40.662617 -73.908958
218            Canarsie - Rockaway Pkwy  40.646654 -73.901850
219                          E 105th St  40.650469 -73.899548
220                        Saratoga Ave  40.661530 -73.916330
221           Sutter Ave - Rutland Road  40.664767 -73.922521
222                        New Lots Ave  40.658915 -73.899278
223                   Broadway Junction  40.679366 -73.904290
224                         Alabama Ave  40.676998 -73.898526
225                        Shepherd Ave  40.674130 -73.880750
226                         Crescent St  40.683153 -73.873929
227                       Cypress Hills  40.689616 -73.873322
228                 75th St - Eldert Ln  40.691290 -73.867288
229                             69th St  40.746325 -73.896403
230                  74th St - Broadway  40.746868 -73.891205
231        Woodhaven Blvd - Queens Mall  40.733097 -73.869432
232               Myrtle - Wyckoff Aves  40.699454 -73.912179
233                          Seneca Ave  40.702919 -73.907582
234                          DeKalb Ave  40.703693 -73.918232
235                             52nd St  40.744149 -73.912549
236                             46th St  40.756317 -73.913522
237                       Northern Blvd  40.752825 -73.906065
238                             46th St  40.743132 -73.918435
239               82nd St - Jackson Hts  40.747659 -73.883697
240               90th St - Elmhurst Av  40.748408 -73.876613
241          Howard Beach - JFK Airport  40.660476 -73.830301
242         Aqueduct - North Conduit Av  40.668234 -73.834058
243           Briarwood - Van Wyck Blvd  40.709162 -73.820693
244              Forest Hills - 71st Av  40.721594 -73.844517
245                        Sutphin Blvd  40.705418 -73.810833
246      Jamaica Ctr - Parsons / Archer  40.702067 -73.801096
247                            225th St  40.888028 -73.860215
248                           Elder Ave  40.828584 -73.879159
249                        Longwood Ave  40.816104 -73.896435
250                        Astoria Blvd  40.770037 -73.918095
251              Astoria - Ditmars Blvd  40.775036 -73.912034
252                         Jackson Ave  40.816437 -73.907702
253                        Prospect Ave  40.819487 -73.901778
254                         Cypress Ave  40.805368 -73.914042
255                            174th St  40.837196 -73.887694
256                        Allerton Ave  40.865483 -73.867234
257           E 143rd St - St Mary's St  40.808719 -73.907657
258                      Kingsbridge Rd  40.867760 -73.897174
259  Bedford Park Blvd - Lehman College  40.873412 -73.890064
260                     Harlem - 148 St  40.823880 -73.936470
261                         Mt Eden Ave  40.844434 -73.914685
262                          Fordham Rd  40.861296 -73.897749
263                            170th St  40.840075 -73.917791
264                   Bedford Park Blvd  40.873244 -73.887138
265              Marble Hill - 225th St  40.874561 -73.909831
266                            231st St  40.878856 -73.904834
267                            215th St  40.869444 -73.915279
268                            207th St  40.864614 -73.918819
269                   Inwood - 207th St  40.868072 -73.919899
270       Van Cortlandt Park - 242nd St  40.889248 -73.898583
271        West Farms Sq - E Tremont Av  40.840208 -73.879961
272                            219th St  40.883888 -73.862510
273                        Mosholu Pkwy  40.879750 -73.884655
274                  Norwood - 205th St  40.874811 -73.878855
275                           Burke Ave  40.871259 -73.867054
276                      Baychester Ave  40.878663 -73.838591
277              Eastchester - Dyre Ave  40.888300 -73.830834
278                  Jamaica - 179th St  40.712646 -73.783817
279                Wakefield - 241st St  40.903125 -73.850620
280                      Botanic Garden  40.670343 -73.959245
281                 Bushwick - Aberdeen  40.682861 -73.905262
282                   Broadway Junction  40.678456 -73.903118
283                         Gun Hill Rd  40.869526 -73.846384
284                          E 180th St  40.841863 -73.873346
285                          Dyckman St  40.860531 -73.925536
286                            125th St  40.815581 -73.958372
287            Franklin Ave - Fulton St  40.680596 -73.955827
288          149th St - Grand Concourse  40.818330 -73.926722
289                  3rd Ave - 149th St  40.816029 -73.917792
290                            167th St  40.835537 -73.921400
291                           Brook Ave  40.807566 -73.919240
292                             33rd St  40.744587 -73.930997
293                             40th St  40.743781 -73.924016
294                            145th St  40.824766 -73.944088
295                            155th St  40.830135 -73.938209
296           161st St - Yankee Stadium  40.827905 -73.925651
297                           Utica Ave  40.679364 -73.930729
298                         Steinway St  40.756987 -73.920526
299                       Kosciuszko St  40.693172 -73.928509
300                           Gates Ave  40.689584 -73.922156
301                         Central Ave  40.697873 -73.927243
302                   Knickerbocker Ave  40.698660 -73.919720
303                            30th Ave  40.766779 -73.921479
304                        Jefferson St  40.706607 -73.922913
305                          Morgan Ave  40.706152 -73.933147
306                          Queens Plz  40.748918 -73.937138
307                            18th Ave  40.629755 -73.976971
308                             77th St  40.629742 -74.025510
309                       Bay Ridge Ave  40.634967 -74.023377
310                             50th St  40.636261 -73.994659
311                    Ft Hamilton Pkwy  40.631386 -74.005351
312                            25th Ave  40.597704 -73.986829
313                             Bay Pky  40.601950 -73.993676
314                            20th Ave  40.617109 -73.984522
315                            18th Ave  40.620687 -73.990454
316                 Bay Ridge - 95th St  40.616622 -74.030876
317                             86th St  40.622687 -74.028398
318                             79th St  40.613159 -74.000583
319                             71st St  40.619259 -73.998841
320                            20th Ave  40.604677 -73.998174

In [40]:
# Clean the STATION column (making it match the MTA data in form)

lat_long_stations['STATION'] = \
        lat_long_stations['STATION'].apply(lambda x: x.replace('1st', '1').replace('2nd', '2').replace('3rd', '3') \
                                   .replace('0th', '0').replace('1th', '1').replace('2th', '2').replace('3th', '3') \
                                   .replace('4th', '4').replace('5th', '5').replace('6th', '6').replace('7th', '7') \
                                   .replace('8th', '8').replace('9th', '9').upper())
lat_long_stations['STATION'].values

array(['ASTOR PL', 'CANAL ST', '50 ST', 'BERGEN ST', 'PENNSYLVANIA AVE',
       '238 ST', 'CATHEDRAL PKWY (110 ST)', 'KINGSTON - THROOP AVES',
       '65 ST', '36 ST', 'DELANCEY ST - ESSEX ST', 'VAN SICLEN AVE',
       'NORWOOD AVE', '104-102 STS', 'DEKALB AVE', 'BEACH 105 ST',
       'BEACH 90 ST', 'FREEMAN ST', 'INTERVALE AVE', '182-183 STS',
       '174-175 STS', '167 ST', 'METS - WILLETS POINT', 'JUNCTION BLVD',
       'FLUSHING - MAIN ST', 'BUHRE AVE', '3 AVE - 138 ST',
       'CASTLE HILL AVE', 'BROOKLYN BRIDGE - CITY HALL', 'ZEREGA AVE',
       'GRAND CENTRAL - 42 ST', '33 ST', '96 ST', '77 ST', 'CHAUNCEY ST',
       'UNION ST', 'ELMHURST AVE', 'RALPH AVE', 'PELHAM PKWY',
       'GUN HILL RD', 'NEREID AVE (238 ST)', 'FRANKLIN AVE', 'SIMPSON ST',
       'BRONX PARK EAST', 'WINTHROP ST', 'VAN SICLEN AVE',
       '149 ST - GRAND CONCOURSE', '161 ST - YANKEE STADIUM',
       'LEXINGTON AVE - 59 ST', 'E 149 ST', 'MORRISON AV - SOUNDVIEW',
       'WHITLOCK AVE', 'ST LAWRENCE AVE', 'WOODSIDE - 61 ST',
       'FAR ROCKAWAY - MOTT AVE', '72 ST', '96 ST', '168 ST',
       'KINGSBRIDGE RD', '42 ST - BRYANT PK', 'PROSPECT PARK', '55 ST',
       'JAMAICA - VAN WYCK', 'KEW GARDENS - UNION TPKE',
       'SUTPHIN BLVD - ARCHER AV', 'COURT SQ - 23 ST', '67 AVE',
       'GRAND AVE - NEWTOWN', 'DITMAS AVE', 'CLASSON AVE', 'BROADWAY',
       'LORIMER ST', 'SUTTER AVE', 'WILSON AVE', 'HALSEY ST',
       'LORIMER ST', '8 AVE', '36 AVE', 'BROADWAY', 'TIMES SQ - 42 ST',
       'GRAND CENTRAL - 42 ST', 'PARK PL', '111 ST',
       'W 4 ST - WASHINGTON SQ (LOWER)', '51 ST', '86 ST', '233 ST',
       '66 ST - LINCOLN CTR', 'HUNTS POINT AVE', 'CANAL ST',
       'MIDDLETOWN RD', '23 ST', 'COURT SQ', '59 ST - COLUMBUS CIRCLE',
       'HUNTERS POINT AVE', '23 ST', 'HOUSTON ST', '104 ST',
       'BROAD CHANNEL', 'OCEAN PKWY', 'VERNON BLVD - JACKSON AVE',
       '68 ST - HUNTER COLLEGE', 'QUEENSBORO PLZ', 'ROCKAWAY BLVD',
       'UNION SQ - 14 ST', 'BEDFORD - NOSTRAND AVES',
       '15 ST - PROSPECT PARK', '7 AVE', 'FT HAMILTON PKWY', 'CHURCH AVE',
       'BEVERLY RD', 'CHURCH AVE', 'NEWKIRK AVE', 'PARKSIDE AVE',
       'GRAND ARMY PLAZA', "ATLANTIC AV - BARCLAY'S CENTER",
       'ROCKAWAY AVE', 'FULTON ST', 'CLINTON - WASHINGTON AVES', '7 AVE',
       "ATLANTIC AV - BARCLAY'S CENTER", "ATLANTIC AV - BARCLAY'S CENTER",
       'BOROUGH HALL', 'AQUEDUCT RACETRACK', 'MORRIS PARK', 'PELHAM PKWY',
       'NOSTRAND AVE', 'NEVINS ST', 'EASTERN PKWY - BKLYN MUSEUM',
       'BEVERLY RD', 'CHURCH AVE', 'NEWKIRK AVE',
       'BROOKLYN COLLEGE - FLATBUSH AVE', 'STERLING ST',
       'CROWN HTS - UTICA AVE', 'KINGSTON AVE', 'NASSAU AVE',
       'GREENPOINT AVE', 'MARCY AVE', 'HEWES ST',
       '138 ST - GRAND CONCOURSE', '5 AVE - 53 ST',
       'LEXINGTON AVE - 53 ST', '28 ST', 'HERALD SQ - 34 ST', '1 AVE',
       'TIMES SQ - 42 ST', 'METROPOLITAN AVE', 'GRAND ST', 'GRAHAM AVE',
       'BEDFORD AVE', 'MONTROSE AVE', 'LONG ISLAND CITY - COURT SQ',
       '21 ST', '39 AVE', '145 ST', '157 ST', '96 ST', '103 ST',
       'CENTRAL PARK NORTH (110 ST)', '103 ST', '72 ST', '81 ST',
       '75 AVE', '86 ST', 'CATHEDRAL PKWY (110 ST)',
       '116 ST - COLUMBIA UNIVERSITY', '125 ST', '135 ST', '116 ST',
       'TREMONT AVE', '137 ST - CITY COLLEGE', '145 ST', '176 ST',
       'BURNSIDE AVE', '170 ST', '168 ST', '181 ST', '191 ST', '175 ST',
       'BEACH 44 ST', 'BEACH 60 ST', 'BEACH 98 ST',
       'ROCKAWAY PARK - BEACH 116 ST', 'BEACH 36 ST', 'BEACH 25 ST',
       'PARSONS BLVD', '169 ST', '103 ST - CORONA PLAZA', '111 ST',
       '63 DR - REGO PARK', 'GRANT AVE', '79 ST', 'ATLANTIC AVE',
       'CHRISTOPHER ST - SHERIDAN SQ', 'OZONE PARK - LEFFERTS BLVD',
       'TIMES SQ - 42 ST', 'W 8 ST - NY AQUARIUM', '28 ST', '28 ST',
       'PELHAM BAY PARK', 'WESTCHESTER SQ - E TREMONT AVE', '18 ST',
       'GRAND CENTRAL - 42 ST', 'BEACH 67 ST',
       'W 4 ST - WASHINGTON SQ (UPPER)', '85 ST - FOREST PKY',
       'WOODHAVEN BLVD', '111 ST', '121 ST', 'HALSEY ST',
       'MYRTLE - WYCKOFF AVES', 'NEW LOTS AVE', 'VAN SICLEN AVE',
       'CLEVELAND ST', 'LIVONIA AVE', 'JUNIUS ST', 'ROCKAWAY AVE',
       'CANARSIE - ROCKAWAY PKWY', 'E 105 ST', 'SARATOGA AVE',
       'SUTTER AVE - RUTLAND ROAD', 'NEW LOTS AVE', 'BROADWAY JUNCTION',
       'ALABAMA AVE', 'SHEPHERD AVE', 'CRESCENT ST', 'CYPRESS HILLS',
       '75 ST - ELDERT LN', '69 ST', '74 ST - BROADWAY',
       'WOODHAVEN BLVD - QUEENS MALL', 'MYRTLE - WYCKOFF AVES',
       'SENECA AVE', 'DEKALB AVE', '52 ST', '46 ST', 'NORTHERN BLVD',
       '46 ST', '82 ST - JACKSON HTS', '90 ST - ELMHURST AV',
       'HOWARD BEACH - JFK AIRPORT', 'AQUEDUCT - NORTH CONDUIT AV',
       'BRIARWOOD - VAN WYCK BLVD', 'FOREST HILLS - 71 AV',
       'SUTPHIN BLVD', 'JAMAICA CTR - PARSONS / ARCHER', '225 ST',
       'ELDER AVE', 'LONGWOOD AVE', 'ASTORIA BLVD',
       'ASTORIA - DITMARS BLVD', 'JACKSON AVE', 'PROSPECT AVE',
       'CYPRESS AVE', '174 ST', 'ALLERTON AVE', "E 143 ST - ST MARY'S ST",
       'KINGSBRIDGE RD', 'BEDFORD PARK BLVD - LEHMAN COLLEGE',
       'HARLEM - 148 ST', 'MT EDEN AVE', 'FORDHAM RD', '170 ST',
       'BEDFORD PARK BLVD', 'MARBLE HILL - 225 ST', '231 ST', '215 ST',
       '207 ST', 'INWOOD - 207 ST', 'VAN CORTLANDT PARK - 242 ST',
       'WEST FARMS SQ - E TREMONT AV', '219 ST', 'MOSHOLU PKWY',
       'NORWOOD - 205 ST', 'BURKE AVE', 'BAYCHESTER AVE',
       'EASTCHESTER - DYRE AVE', 'JAMAICA - 179 ST', 'WAKEFIELD - 241 ST',
       'BOTANIC GARDEN', 'BUSHWICK - ABERDEEN', 'BROADWAY JUNCTION',
       'GUN HILL RD', 'E 180 ST', 'DYCKMAN ST', '125 ST',
       'FRANKLIN AVE - FULTON ST', '149 ST - GRAND CONCOURSE',
       '3 AVE - 149 ST', '167 ST', 'BROOK AVE', '33 ST', '40 ST',
       '145 ST', '155 ST', '161 ST - YANKEE STADIUM', 'UTICA AVE',
       'STEINWAY ST', 'KOSCIUSZKO ST', 'GATES AVE', 'CENTRAL AVE',
       'KNICKERBOCKER AVE', '30 AVE', 'JEFFERSON ST', 'MORGAN AVE',
       'QUEENS PLZ', '18 AVE', '77 ST', 'BAY RIDGE AVE', '50 ST',
       'FT HAMILTON PKWY', '25 AVE', 'BAY PKY', '20 AVE', '18 AVE',
       'BAY RIDGE - 95 ST', '86 ST', '79 ST', '71 ST', '20 AVE', '18 AVE',
       '62 ST', 'NEW UTRECHT AVE', 'AVE U', 'KINGS HWY', 'BRIGHTON BEACH',
       'SHEEPSHEAD BAY', 'AVE U', 'KINGS HWY', 'AVE U', 'KINGS HWY',
       'NEPTUNE AVE', 'AVE X', 'BAY 50 ST', 'GRAVESEND - 86 ST', 'AVE P',
       'AVE N', 'BAY PKY', 'AVE M', 'BAY PKY', 'AVE I', 'AVE J', 'AVE H',
       'NECK RD', '21 ST - QUEENSBRIDGE', '50 ST', '7 AVE',
       '47-50 STS - ROCKEFELLER CTR', '57 ST', 'LEXINGTON AVE - 63 ST',
       'ROOSEVELT ISLAND - MAIN ST', '59 ST - COLUMBUS CIRCLE', '49 ST',
       '57 ST', '5 AVE - 59 ST', 'LEXINGTON AVE - 59 ST',
       '34 ST - PENN STATION', 'TIMES SQ - 42 ST', 'FULTON ST',
       'CHAMBERS ST', '42 ST - PORT AUTHORITY BUS TERM',
       'MYRTLE-WILLOUGHBY AVES', 'FLUSHING AVE', '23 ST',
       'HERALD SQ - 34 ST', 'HOYT - SCHERMERHORN STS',
       'JAY ST - METROTECH', 'EAST BROADWAY', 'DELANCEY ST - ESSEX ST',
       'LOWER EAST SIDE - 2 AVE', 'FLUSHING AVE', 'MYRTLE AVE',
       '4 AV - 9 ST', 'SMITH - 9 STS', 'BERGEN ST', 'JAY ST - METROTECH',
       'COURT ST', 'UNION SQ - 14 ST', '23 ST', 'PROSPECT AVE',
       '4 AV - 9 ST', '3 AVE', 'UNION SQ - 14 ST', 'LIBERTY AVE',
       'BROADWAY JUNCTION', '59 ST', '45 ST', '36 ST', '9 AVE', '53 ST',
       'FT HAMILTON PKWY', '25 ST', 'CARROLL ST', 'SPRING ST', '181 ST',
       '190 ST', '116 ST', '125 ST', 'PRINCE ST', '8 ST - NYU',
       'FULTON ST', 'PARK PL', 'CHAMBERS ST', 'HOYT ST', 'BOROUGH HALL',
       '183 ST', 'FORDHAM RD', 'WORLD TRADE CENTER',
       'CANAL ST - HOLLAND TUNNEL', '155 ST', '163 ST - AMSTERDAM AV',
       'FULTON ST', 'CHAMBERS ST', 'CANAL ST', 'CITY HALL', 'CANAL ST',
       'SOUTH FERRY', 'BOWLING GREEN', 'WALL ST', 'WHITEHALL ST',
       'RECTOR ST', 'FRESH POND RD', 'MIDDLE VILLAGE - METROPOLITAN AVE',
       'RECTOR ST', 'CORTLANDT ST', 'FULTON ST', 'BROAD ST',
       'CORTLANDT ST', 'WALL ST', 'DYCKMAN ST', 'GRAND ST',
       'BROADWAY - LAFAYETTE ST', 'BOWERY', 'CANAL ST', '23 ST',
       '34 ST - PENN STATION', 'JACKSON HTS - ROOSEVELT AV', '14 ST',
       '135 ST', '14 ST', '6 AVE', '8 AVE', '14 ST', 'NOSTRAND AVE',
       'CLARK ST', 'FRANKLIN AVE', 'CLINTON - WASHINGTON AVES',
       'FOREST AVE', '110 ST', '86 ST', 'YORK ST', 'HIGH ST',
       'LAFAYETTE AVE', 'PRESIDENT ST', 'WOODLAWN', 'BLEECKER ST',
       '103 ST', 'EUCLID AVE', '88 ST', 'CORTELYOU RD', '116 ST',
       'PARKCHESTER', 'FRANKLIN ST', '80 ST', '5 AVE - BRYANT PK',
       'SPRING ST', '125 ST', 'CONEY ISLAND - STILLWELL AV',
       '34 ST - HUDSON YARDS', '72 ST', '86 ST', '96 ST'], dtype=object)

In [41]:
common_stations = np.intersect1d(lat_long_stations['STATION'].values, daily_entries_2019['STATION'].unique())
print(common_stations.shape)
common_stations

(106,)

array(['110 ST', '121 ST', '157 ST', '169 ST', '174 ST', '174-175 STS',
       '175 ST', '176 ST', '18 ST', '182-183 STS', '183 ST', '190 ST',
       '191 ST', '207 ST', '21 ST', '215 ST', '219 ST', '225 ST',
       '231 ST', '233 ST', '238 ST', '25 ST', '33 ST', '45 ST', '46 ST',
       '49 ST', '51 ST', '52 ST', '53 ST', '55 ST', '57 ST', '65 ST',
       '69 ST', '71 ST', '80 ST', '88 ST', 'ASTOR PL', 'BAY 50 ST',
       'BEACH 105 ST', 'BEACH 25 ST', 'BEACH 36 ST', 'BEACH 44 ST',
       'BEACH 60 ST', 'BEACH 67 ST', 'BEACH 90 ST', 'BEACH 98 ST',
       'BEVERLY RD', 'BLEECKER ST', 'BOTANIC GARDEN', 'BOWERY',
       'BOWLING GREEN', 'BRIGHTON BEACH', 'BROAD CHANNEL', 'BROAD ST',
       'BRONX PARK EAST', 'CARROLL ST', 'CHAUNCEY ST', 'CITY HALL',
       'CLARK ST', 'CLEVELAND ST', 'CORTELYOU RD', 'CORTLANDT ST',
       'CRESCENT ST', 'CYPRESS HILLS', 'E 149 ST', 'E 180 ST',
       'EAST BROADWAY', 'FOREST AVE', 'FRANKLIN ST', 'FREEMAN ST',
       'FRESH POND RD', 'HEWES ST', 'HIGH ST', 'HOUSTON ST', 'HOYT ST',
       'JEFFERSON ST', 'JUNCTION BLVD', 'JUNIUS ST', 'KOSCIUSZKO ST',
       'MIDDLETOWN RD', 'MORRIS PARK', 'MOSHOLU PKWY', 'NECK RD',
       'NEVINS ST', 'NORTHERN BLVD', 'OCEAN PKWY', 'PARKCHESTER',
       'PARSONS BLVD', 'PELHAM BAY PARK', 'PRESIDENT ST', 'PRINCE ST',
       'PROSPECT PARK', 'QUEENSBORO PLZ', 'ROCKAWAY BLVD', 'SENECA AVE',
       'SHEEPSHEAD BAY', 'SIMPSON ST', 'SOUTH FERRY', 'STEINWAY ST',
       'STERLING ST', 'SUTPHIN BLVD', 'UNION ST', 'VAN SICLEN AVE',
       'WINTHROP ST', 'WOODLAWN', 'YORK ST'], dtype=object)

In [42]:
# We have easily found 106 stations from the Lat & Long data that overlap w/ the MTA data;
# Let's just focus on these 106 stations for now

print(daily_entries_2019.shape)
daily_entries_2019 = daily_entries_2019[daily_entries_2019['STATION'].isin(common_stations)]
print(daily_entries_2019.shape)

(180921, 5)
(49541, 5)

In [43]:
print(daily_entries_2021.shape)
daily_entries_2021 = daily_entries_2021[daily_entries_2021['STATION'].isin(common_stations)]
print(daily_entries_2021.shape)

(186066, 5)
(49867, 5)

### Get ZIPCODEs associated with Lat/Longs

In [44]:
# Filter down to the common stations

print(lat_long_stations.shape)
lat_long_stations = lat_long_stations[lat_long_stations['STATION'].isin(common_stations)]
print(lat_long_stations.shape)

(473, 3)
(113, 3)

In [45]:
# Looks like we have too many stations (should only be 109); Check for duplicates

lat_long_stations.groupby('STATION')['STATION'].count().sort_values(ascending=False).head(10)

STATION
VAN SICLEN AVE    3
57 ST             2
46 ST             2
CORTLANDT ST      2
33 ST             2
BEVERLY RD        2
FREEMAN ST        1
KOSCIUSZKO ST     1
JUNIUS ST         1
JUNCTION BLVD     1
Name: STATION, dtype: int64

In [46]:
display(lat_long_stations[lat_long_stations['STATION'] == 'VAN SICLEN AVE'])
display(lat_long_stations[lat_long_stations['STATION'] == '57 ST'])
display(lat_long_stations[lat_long_stations['STATION'] == '46 ST'])
display(lat_long_stations[lat_long_stations['STATION'] == 'CORTLANDT ST'])
display(lat_long_stations[lat_long_stations['STATION'] == '33 ST'])
display(lat_long_stations[lat_long_stations['STATION'] == 'BEVERLY RD'])

            STATION   LATITUDE  LONGITUDE
11   VAN SICLEN AVE  40.678028 -73.891658
45   VAN SICLEN AVE  40.665518 -73.889405
213  VAN SICLEN AVE  40.672710 -73.890358

    STATION   LATITUDE  LONGITUDE
349   57 ST  40.764085 -73.977368
354   57 ST  40.764566 -73.980730

    STATION   LATITUDE  LONGITUDE
236   46 ST  40.756317 -73.913522
238   46 ST  40.743132 -73.918435

          STATION   LATITUDE  LONGITUDE
425  CORTLANDT ST  40.711835 -74.012188
428  CORTLANDT ST  40.710513 -74.011132

    STATION   LATITUDE  LONGITUDE
31    33 ST  40.746081 -73.982076
292   33 ST  40.744587 -73.930997

        STATION   LATITUDE  LONGITUDE
110  BEVERLY RD  40.643905 -73.964358
129  BEVERLY RD  40.645124 -73.948848

In [47]:
# These duplicates have conflicting geocoordinates, so let's just drop these 6 stations from everything

common_stations = np.setdiff1d(common_stations, 
                               ['VAN SICLEN AVE', '57 ST', '46 ST', 'CORTLANDT ST', '33 ST', 'BEVERLY RD'])
common_stations.shape

(100,)

In [48]:
# Reducing down to the now 100 common stations between entries data and lat/long data

print(daily_entries_2019.shape)
daily_entries_2019 = daily_entries_2019[daily_entries_2019['STATION'].isin(common_stations)]
print(daily_entries_2019.shape)

(49541, 5)
(43506, 5)

In [49]:
print(daily_entries_2021.shape)
daily_entries_2021 = daily_entries_2021[daily_entries_2021['STATION'].isin(common_stations)]
print(daily_entries_2021.shape)

(49867, 5)
(43828, 5)

In [50]:
# Remove duplicates from lat_long_stations

lat_long_stations = lat_long_stations[lat_long_stations['STATION'].isin(common_stations)]

# Check: should be no duplicates now
lat_long_stations.groupby('STATION')['STATION'].count().sort_values(ascending=False).head()

STATION
110 ST           1
FRANKLIN ST      1
KOSCIUSZKO ST    1
JUNIUS ST        1
JUNCTION BLVD    1
Name: STATION, dtype: int64

In [51]:
stations_to_neighborhood = lat_long_stations.groupby('STATION')[['LATITUDE', 'LONGITUDE']].first().reset_index()
stations_to_neighborhood

            STATION   LATITUDE  LONGITUDE
0            110 ST  40.795020 -73.944250
1            121 ST  40.700482 -73.828349
2            157 ST  40.834041 -73.944890
3            169 ST  40.710518 -73.793474
4            174 ST  40.837196 -73.887694
5       174-175 STS  40.845900 -73.910136
6            175 ST  40.847391 -73.939704
7            176 ST  40.848480 -73.911794
8             18 ST  40.741040 -73.997871
9       182-183 STS  40.856093 -73.900741
10           183 ST  40.858407 -73.903879
11           190 ST  40.859022 -73.934180
12           191 ST  40.855225 -73.929412
13           207 ST  40.864614 -73.918819
14            21 ST  40.744129 -73.949600
15           215 ST  40.869444 -73.915279
16           219 ST  40.883888 -73.862510
17           225 ST  40.888028 -73.860215
18           231 ST  40.878856 -73.904834
19           233 ST  40.893143 -73.857362
20           238 ST  40.884667 -73.900870
21            25 ST  40.660397 -73.998091
22            45 ST  40.648939 -74.010006
23            49 ST  40.759802 -73.984210
24            51 ST  40.757107 -73.971920
25            52 ST  40.744149 -73.912549
26            53 ST  40.645069 -74.014034
27            55 ST  40.631479 -73.995349
28            65 ST  40.749720 -73.898788
29            69 ST  40.746325 -73.896403
30            71 ST  40.619259 -73.998841
31            80 ST  40.679371 -73.858992
32            88 ST  40.679843 -73.851470
33         ASTOR PL  40.730054 -73.991070
34        BAY 50 ST  40.588841 -73.983765
35     BEACH 105 ST  40.583268 -73.827581
36      BEACH 25 ST  40.600066 -73.761353
37      BEACH 36 ST  40.595398 -73.768175
38      BEACH 44 ST  40.592943 -73.776013
39      BEACH 60 ST  40.592374 -73.788522
40      BEACH 67 ST  40.590927 -73.796924
41      BEACH 90 ST  40.588092 -73.813651
42      BEACH 98 ST  40.585386 -73.820521
43      BLEECKER ST  40.725915 -73.994659
44   BOTANIC GARDEN  40.670343 -73.959245
45           BOWERY  40.720247 -73.993807
46    BOWLING GREEN  40.704914 -74.014008
47   BRIGHTON BEACH  40.577710 -73.961354
48    BROAD CHANNEL  40.608402 -73.815833
49         BROAD ST  40.706476 -74.011056
50  BRONX PARK EAST  40.848769 -73.868356
51       CARROLL ST  40.680273 -73.994947
52      CHAUNCEY ST  40.682851 -73.910384
53        CITY HALL  40.713272 -74.006986
54         CLARK ST  40.697466 -73.993086
55     CLEVELAND ST  40.679778 -73.885194
56     CORTELYOU RD  40.640940 -73.963790
57      CRESCENT ST  40.683153 -73.873929
58    CYPRESS HILLS  40.689616 -73.873322
59         E 149 ST  40.812118 -73.904098
60         E 180 ST  40.841863 -73.873346
61    EAST BROADWAY  40.713855 -73.990177
62       FOREST AVE  40.704412 -73.903075
63      FRANKLIN ST  40.719318 -74.006886
64       FREEMAN ST  40.829987 -73.891752
65    FRESH POND RD  40.706226 -73.895898
66         HEWES ST  40.706890 -73.953488
67          HIGH ST  40.699337 -73.990531
68       HOUSTON ST  40.728251 -74.005367
69          HOYT ST  40.690544 -73.985064
70     JEFFERSON ST  40.706607 -73.922913
71    JUNCTION BLVD  40.749145 -73.869527
72        JUNIUS ST  40.663589 -73.902449
73    KOSCIUSZKO ST  40.693172 -73.928509
74    MIDDLETOWN RD  40.843863 -73.836322
75      MORRIS PARK  40.854364 -73.860495
76     MOSHOLU PKWY  40.879750 -73.884655
77          NECK RD  40.595322 -73.955078
78        NEVINS ST  40.688311 -73.980407
79    NORTHERN BLVD  40.752825 -73.906065
80       OCEAN PKWY  40.576312 -73.968501
81      PARKCHESTER  40.833226 -73.860816
82     PARSONS BLVD  40.707572 -73.803289
83  PELHAM BAY PARK  40.852462 -73.828121
84     PRESIDENT ST  40.667884 -73.950589
85        PRINCE ST  40.724329 -73.997702
86    PROSPECT PARK  40.661633 -73.962031
87   QUEENSBORO PLZ  40.750636 -73.940164
88    ROCKAWAY BLVD  40.680429 -73.843853
89       SENECA AVE  40.702919 -73.907582
90   SHEEPSHEAD BAY  40.586548 -73.954058
91       SIMPSON ST  40.823977 -73.893066
92      SOUTH FERRY  40.701731 -74.013169
93      STEINWAY ST  40.756987 -73.920526
94      STERLING ST  40.662773 -73.950729
95     SUTPHIN BLVD  40.705418 -73.810833
96         UNION ST  40.677316 -73.983110
97      WINTHROP ST  40.656659 -73.950079
98         WOODLAWN  40.886037 -73.878751
99          YORK ST  40.699743 -73.986885

In [52]:
# This implementation is based on the info posted here:
#  https://stackoverflow.com/questions/66144427/how-do-i-get-zipcodes-from-longitude-and-latitude-on-python

geo = geopy.Nominatim(user_agent="check_1")

stations_to_neighborhood['ZIPCODE'] = stations_to_neighborhood \
                                       .apply(lambda x: geo.reverse('{}, {}'
                                                .format(x['LATITUDE'],
                                                        x['LONGITUDE'])) \
                                                .raw['address']['postcode'], axis=1)

# geo.reverse("{}, {}".format(40.641362, -74.017881)).raw['address']['neighbourhood']
stations_to_neighborhood

            STATION   LATITUDE  LONGITUDE     ZIPCODE
0            110 ST  40.795020 -73.944250       10029
1            121 ST  40.700482 -73.828349       11418
2            157 ST  40.834041 -73.944890       10032
3            169 ST  40.710518 -73.793474       11427
4            174 ST  40.837196 -73.887694       10460
5       174-175 STS  40.845900 -73.910136       10453
6            175 ST  40.847391 -73.939704       10033
7            176 ST  40.848480 -73.911794       10468
8             18 ST  40.741040 -73.997871       10001
9       182-183 STS  40.856093 -73.900741  10457-2919
10           183 ST  40.858407 -73.903879       10453
11           190 ST  40.859022 -73.934180       10040
12           191 ST  40.855225 -73.929412       10040
13           207 ST  40.864614 -73.918819       10034
14            21 ST  40.744129 -73.949600       11109
15           215 ST  40.869444 -73.915279       10034
16           219 ST  40.883888 -73.862510       10469
17           225 ST  40.888028 -73.860215       10466
18           231 ST  40.878856 -73.904834       10463
19           233 ST  40.893143 -73.857362       10470
20           238 ST  40.884667 -73.900870       10463
21            25 ST  40.660397 -73.998091       11232
22            45 ST  40.648939 -74.010006       11220
23            49 ST  40.759802 -73.984210       10036
24            51 ST  40.757107 -73.971920       10037
25            52 ST  40.744149 -73.912549       11377
26            53 ST  40.645069 -74.014034       11220
27            55 ST  40.631479 -73.995349       11228
28            65 ST  40.749720 -73.898788       11377
29            69 ST  40.746325 -73.896403       11377
30            71 ST  40.619259 -73.998841       11204
31            80 ST  40.679371 -73.858992       11419
32            88 ST  40.679843 -73.851470       11419
33         ASTOR PL  40.730054 -73.991070       10003
34        BAY 50 ST  40.588841 -73.983765       11224
35     BEACH 105 ST  40.583268 -73.827581       11694
36      BEACH 25 ST  40.600066 -73.761353       11691
37      BEACH 36 ST  40.595398 -73.768175       11691
38      BEACH 44 ST  40.592943 -73.776013       11692
39      BEACH 60 ST  40.592374 -73.788522       11692
40      BEACH 67 ST  40.590927 -73.796924       11692
41      BEACH 90 ST  40.588092 -73.813651       11693
42      BEACH 98 ST  40.585386 -73.820521       11693
43      BLEECKER ST  40.725915 -73.994659       10012
44   BOTANIC GARDEN  40.670343 -73.959245       11213
45           BOWERY  40.720247 -73.993807       10002
46    BOWLING GREEN  40.704914 -74.014008       10003
47   BRIGHTON BEACH  40.577710 -73.961354       11235
48    BROAD CHANNEL  40.608402 -73.815833       11693
49         BROAD ST  40.706476 -74.011056       10004
50  BRONX PARK EAST  40.848769 -73.868356       10462
51       CARROLL ST  40.680273 -73.994947       11231
52      CHAUNCEY ST  40.682851 -73.910384       11233
53        CITY HALL  40.713272 -74.006986       10003
54         CLARK ST  40.697466 -73.993086  11201-1832
55     CLEVELAND ST  40.679778 -73.885194       11208
56     CORTELYOU RD  40.640940 -73.963790       11226
57      CRESCENT ST  40.683153 -73.873929       11208
58    CYPRESS HILLS  40.689616 -73.873322       11208
59         E 149 ST  40.812118 -73.904098       10458
60         E 180 ST  40.841863 -73.873346       10460
61    EAST BROADWAY  40.713855 -73.990177       10002
62       FOREST AVE  40.704412 -73.903075       11385
63      FRANKLIN ST  40.719318 -74.006886       10013
64       FREEMAN ST  40.829987 -73.891752       10459
65    FRESH POND RD  40.706226 -73.895898       11385
66         HEWES ST  40.706890 -73.953488       11211
67          HIGH ST  40.699337 -73.990531  11201-1832
68       HOUSTON ST  40.728251 -74.005367       10014
69          HOYT ST  40.690544 -73.985064       11207
70     JEFFERSON ST  40.706607 -73.922913       11237
71    JUNCTION BLVD  40.749145 -73.869527       11368
72        JUNIUS ST  40.663589 -73.902449       11207
73    KOSCIUSZKO ST  40.693172 -73.928509       11207
74    MIDDLETOWN RD  40.843863 -73.836322       10461
75      MORRIS PARK  40.854364 -73.860495       10462
76     MOSHOLU PKWY  40.879750 -73.884655       10467
77          NECK RD  40.595322 -73.955078       11229
78        NEVINS ST  40.688311 -73.980407       11227
79    NORTHERN BLVD  40.752825 -73.906065       11373
80       OCEAN PKWY  40.576312 -73.968501       11235
81      PARKCHESTER  40.833226 -73.860816       10472
82     PARSONS BLVD  40.707572 -73.803289       11427
83  PELHAM BAY PARK  40.852462 -73.828121       10461
84     PRESIDENT ST  40.667884 -73.950589       11213
85        PRINCE ST  40.724329 -73.997702       10003
86    PROSPECT PARK  40.661633 -73.962031       11225
87   QUEENSBORO PLZ  40.750636 -73.940164       11101
88    ROCKAWAY BLVD  40.680429 -73.843853       11419
89       SENECA AVE  40.702919 -73.907582       11385
90   SHEEPSHEAD BAY  40.586548 -73.954058       11235
91       SIMPSON ST  40.823977 -73.893066       10459
92      SOUTH FERRY  40.701731 -74.013169       10004
93      STEINWAY ST  40.756987 -73.920526       11101
94      STERLING ST  40.662773 -73.950729       11203
95     SUTPHIN BLVD  40.705418 -73.810833       11427
96         UNION ST  40.677316 -73.983110       11217
97      WINTHROP ST  40.656659 -73.950079       11203
98         WOODLAWN  40.886037 -73.878751       10468
99          YORK ST  40.699743 -73.986885       11201

In [53]:
stations_to_neighborhood.drop(['LATITUDE', 'LONGITUDE'], axis=1, inplace=True)
stations_to_neighborhood.head()

  STATION ZIPCODE
0  110 ST   10029
1  121 ST   11418
2  157 ST   10032
3  169 ST   11427
4  174 ST   10460

In [54]:
# Need to reduce the zip codes with -xxxx extension down to just first 5 digits

stations_to_neighborhood['ZIPCODE'] = stations_to_neighborhood['ZIPCODE'].apply(lambda x: x[:5])
stations_to_neighborhood['ZIPCODE'].values

array(['10029', '11418', '10032', '11427', '10460', '10453', '10033',
       '10468', '10001', '10457', '10453', '10040', '10040', '10034',
       '11109', '10034', '10469', '10466', '10463', '10470', '10463',
       '11232', '11220', '10036', '10037', '11377', '11220', '11228',
       '11377', '11377', '11204', '11419', '11419', '10003', '11224',
       '11694', '11691', '11691', '11692', '11692', '11692', '11693',
       '11693', '10012', '11213', '10002', '10003', '11235', '11693',
       '10004', '10462', '11231', '11233', '10003', '11201', '11208',
       '11226', '11208', '11208', '10458', '10460', '10002', '11385',
       '10013', '10459', '11385', '11211', '11201', '10014', '11207',
       '11237', '11368', '11207', '11207', '10461', '10462', '10467',
       '11229', '11227', '11373', '11235', '10472', '11427', '10461',
       '11213', '10003', '11225', '11101', '11419', '11385', '11235',
       '10459', '10004', '11101', '11203', '11427', '11217', '11203',
       '10468', '11201'], dtype=object)

### Merge the MTA data for the stations above with the ZIPCODE data

In [55]:
daily_entries_2019 = daily_entries_2019.merge(right=stations_to_neighborhood, how='left', on='STATION')

# Check for NaNs
display(daily_entries_2019[daily_entries_2019.isna().any(axis=1)])

display(daily_entries_2019.head())
display(daily_entries_2019.tail())

Empty DataFrame
Columns: [STATION, LINENAME, DATE, NET_ENTRIES, WEEKDAY, ZIPCODE]
Index: []

  STATION LINENAME        DATE  NET_ENTRIES  WEEKDAY ZIPCODE
0   49 ST     NQRW  05/01/2019          796        1   10036
1   49 ST     NQRW  05/02/2019          806        1   10036
2   49 ST     NQRW  05/03/2019          762        1   10036
3   49 ST     NQRW  05/04/2019          460        0   10036
4   49 ST     NQRW  05/05/2019          373        0   10036

           STATION LINENAME        DATE  NET_ENTRIES  WEEKDAY ZIPCODE
43501  MORRIS PARK        5  06/26/2019         1320        1   10462
43502  MORRIS PARK        5  06/27/2019         1280        1   10462
43503  MORRIS PARK        5  06/28/2019         1253        1   10462
43504  MORRIS PARK        5  06/29/2019          416        0   10462
43505  MORRIS PARK        5  06/30/2019          380        0   10462

In [56]:
daily_entries_2021 = daily_entries_2021.merge(right=stations_to_neighborhood, how='left', on='STATION')

# Check for NaNs
display(daily_entries_2021[daily_entries_2021.isna().any(axis=1)])

display(daily_entries_2021.head())
display(daily_entries_2021.tail())

Empty DataFrame
Columns: [STATION, LINENAME, DATE, NET_ENTRIES, WEEKDAY, ZIPCODE]
Index: []

  STATION LINENAME        DATE  NET_ENTRIES  WEEKDAY ZIPCODE
0   49 ST     NQRW  05/01/2021           99        0   10036
1   49 ST     NQRW  05/02/2021           66        0   10036
2   49 ST     NQRW  05/03/2021          124        1   10036
3   49 ST     NQRW  05/04/2021          131        1   10036
4   49 ST     NQRW  05/05/2021          122        1   10036

           STATION LINENAME        DATE  NET_ENTRIES  WEEKDAY ZIPCODE
43823  MORRIS PARK        5  06/26/2021          146        0   10462
43824  MORRIS PARK        5  06/27/2021          104        0   10462
43825  MORRIS PARK        5  06/28/2021          436        1   10462
43826  MORRIS PARK        5  06/29/2021          415        1   10462
43827  MORRIS PARK        5  06/30/2021          464        1   10462

### Now Merge with the Neighborhoods and Boroughs

In [57]:
neighborhoods_zips['ZipCode'].values

array([10453, 10457, 10460, 10458, 10467, 10468, 10451, 10452, 10456,
       10454, 10455, 10459, 10474, 10463, 10471, 10466, 10469, 10470,
       10475, 10461, 10462, 10464, 10465, 10472, 10473, 11212, 11213,
       11216, 11233, 11238, 11209, 11214, 11228, 11204, 11218, 11219,
       11230, 11234, 11236, 11239, 11223, 11224, 11229, 11235, 11201,
       11205, 11215, 11217, 11231, 11203, 11210, 11225, 11226, 11207,
       11208, 11211, 11222, 11220, 11232, 11206, 11221, 11237, 10026,
       10027, 10030, 10037, 10039, 10001, 10011, 10018, 10019, 10020,
       10036, 10029, 10035, 10010, 10016, 10017, 10022, 10012, 10013,
       10014, 10004, 10005, 10006, 10007, 10038, 10280, 10002, 10003,
       10009, 10021, 10028, 10044, 10065, 10075, 10128, 10023, 10024,
       10025, 10031, 10032, 10033, 10034, 10040, 11361, 11362, 11363,
       11364, 11354, 11355, 11356, 11357, 11358, 11359, 11360, 11365,
       11366, 11367, 11412, 11423, 11432, 11433, 11434, 11435, 11436,
       11101, 11102, 11103, 11104, 11105, 11106, 11374, 11375, 11379,
       11385, 11691, 11692, 11693, 11694, 11695, 11697, 11004, 11005,
       11411, 11413, 11422, 11426, 11427, 11428, 11429, 11414, 11415,
       11416, 11417, 11418, 11419, 11420, 11421, 11368, 11369, 11370,
       11372, 11373, 11377, 11378, 10302, 10303, 10310, 10306, 10307,
       10308, 10309, 10312, 10301, 10304, 10305, 10314])

In [58]:
# Need to make these zip codes strings (they're integers)

neighborhoods_zips['ZipCode'] = neighborhoods_zips['ZipCode'].astype('str')
neighborhoods_zips.columns = ['BOROUGH', 'NEIGHBORHOOD', 'ZIPCODE']

In [62]:
np.setdiff1d(neighborhoods_zips['ZIPCODE'].unique(), daily_entries_2019['ZIPCODE'].unique())

array(['10005', '10006', '10007', '10009', '10010', '10011', '10016',
       '10017', '10018', '10019', '10020', '10021', '10022', '10023',
       '10024', '10025', '10026', '10027', '10028', '10030', '10031',
       '10035', '10038', '10039', '10044', '10065', '10075', '10128',
       '10280', '10301', '10302', '10303', '10304', '10305', '10306',
       '10307', '10308', '10309', '10310', '10312', '10314', '10451',
       '10452', '10454', '10455', '10456', '10464', '10465', '10471',
       '10473', '10474', '10475', '11004', '11005', '11102', '11103',
       '11104', '11105', '11106', '11205', '11206', '11209', '11210',
       '11212', '11214', '11215', '11216', '11218', '11219', '11221',
       '11222', '11223', '11230', '11234', '11236', '11238', '11239',
       '11354', '11355', '11356', '11357', '11358', '11359', '11360',
       '11361', '11362', '11363', '11364', '11365', '11366', '11367',
       '11369', '11370', '11372', '11374', '11375', '11378', '11379',
       '11411', '11412', '11413', '11414', '11415', '11416', '11417',
       '11420', '11421', '11422', '11423', '11426', '11428', '11429',
       '11432', '11433', '11434', '11435', '11436', '11695', '11697'],
      dtype=object)

In [63]:
np.setdiff1d(daily_entries_2019['ZIPCODE'].unique(),neighborhoods_zips['ZIPCODE'].unique())

array(['11109', '11227'], dtype=object)

In [65]:
np.setdiff1d(daily_entries_2019['ZIPCODE'].unique(), daily_entries_2021['ZIPCODE'].unique())

array([], dtype=object)

In [66]:
# Looks like we have some ZIPCODE discrepancies between neighborhoods_zips and daily_entries_20xx;
#  Let's whittle down to a common set off ZIPCODEs

common_zipcodes = np.intersect1d(daily_entries_2019['ZIPCODE'].unique(),neighborhoods_zips['ZIPCODE'].unique())
common_zipcodes.shape

(59,)

In [68]:
print(neighborhoods_zips.shape)
neighborhoods_zips = neighborhoods_zips[neighborhoods_zips['ZIPCODE'].isin(common_zipcodes)]
print(neighborhoods_zips.shape)

(178, 3)
(59, 3)

In [69]:
print(daily_entries_2019.shape)
daily_entries_2019 = daily_entries_2019[daily_entries_2019['ZIPCODE'].isin(common_zipcodes)]
print(daily_entries_2019.shape)

(43506, 6)
(42713, 6)

In [70]:
print(daily_entries_2021.shape)
daily_entries_2021 = daily_entries_2021[daily_entries_2021['ZIPCODE'].isin(common_zipcodes)]
print(daily_entries_2021.shape)

(43828, 6)
(43035, 6)

In [71]:
daily_entries_2019 = daily_entries_2019.merge(right=neighborhoods_zips, how='inner', on='ZIPCODE')

# Check for NaNs
display(daily_entries_2019[daily_entries_2019.isna().any(axis=1)])

display(daily_entries_2019.head())
display(daily_entries_2019.tail())

Empty DataFrame
Columns: [STATION, LINENAME, DATE, NET_ENTRIES, WEEKDAY, ZIPCODE, BOROUGH, NEIGHBORHOOD]
Index: []

,STATION,LINENAME,DATE,NET_ENTRIES,WEEKDAY,ZIPCODE,BOROUGH,NEIGHBORHOOD
0,49 ST,NQRW,05/01/2019,796,1,10036,Manhattan,Chelsea and Clinton
1,49 ST,NQRW,05/02/2019,806,1,10036,Manhattan,Chelsea and Clinton
2,49 ST,NQRW,05/03/2019,762,1,10036,Manhattan,Chelsea and Clinton
3,49 ST,NQRW,05/04/2019,460,0,10036,Manhattan,Chelsea and Clinton
4,49 ST,NQRW,05/05/2019,373,0,10036,Manhattan,Chelsea and Clinton

,STATION,LINENAME,DATE,NET_ENTRIES,WEEKDAY,ZIPCODE,BOROUGH,NEIGHBORHOOD
42708,WINTHROP ST,25,06/26/2019,0,1,11203,Brooklyn,Flatbush
42709,WINTHROP ST,25,06/27/2019,0,1,11203,Brooklyn,Flatbush
42710,WINTHROP ST,25,06/28/2019,0,1,11203,Brooklyn,Flatbush
42711,WINTHROP ST,25,06/29/2019,492,0,11203,Brooklyn,Flatbush
42712,WINTHROP ST,25,06/30/2019,194,0,11203,Brooklyn,Flatbush

In [72]:
daily_entries_2021 = daily_entries_2021.merge(right=neighborhoods_zips, how='inner', on='ZIPCODE')

# Check for NaNs
display(daily_entries_2021[daily_entries_2021.isna().any(axis=1)])

display(daily_entries_2021.head())
display(daily_entries_2021.tail())

Empty DataFrame
Columns: [STATION, LINENAME, DATE, NET_ENTRIES, WEEKDAY, ZIPCODE, BOROUGH, NEIGHBORHOOD]
Index: []

,STATION,LINENAME,DATE,NET_ENTRIES,WEEKDAY,ZIPCODE,BOROUGH,NEIGHBORHOOD
0,49 ST,NQRW,05/01/2021,99,0,10036,Manhattan,Chelsea and Clinton
1,49 ST,NQRW,05/02/2021,66,0,10036,Manhattan,Chelsea and Clinton
2,49 ST,NQRW,05/03/2021,124,1,10036,Manhattan,Chelsea and Clinton
3,49 ST,NQRW,05/04/2021,131,1,10036,Manhattan,Chelsea and Clinton
4,49 ST,NQRW,05/05/2021,122,1,10036,Manhattan,Chelsea and Clinton

,STATION,LINENAME,DATE,NET_ENTRIES,WEEKDAY,ZIPCODE,BOROUGH,NEIGHBORHOOD
43030,WINTHROP ST,25,06/26/2021,457,0,11203,Brooklyn,Flatbush
43031,WINTHROP ST,25,06/27/2021,105,0,11203,Brooklyn,Flatbush
43032,WINTHROP ST,25,06/28/2021,213,1,11203,Brooklyn,Flatbush
43033,WINTHROP ST,25,06/29/2021,233,1,11203,Brooklyn,Flatbush
43034,WINTHROP ST,25,06/30/2021,199,1,11203,Brooklyn,Flatbush

In [74]:
# Here's how many stations survived all the way through the data to this point:

daily_entries_2019['STATION'].unique().shape[0]

98

### Now import US Census Data (Median Income) and Merge with existing dataset

#### Start with ZIPCODE-level data

In [75]:
median_income_zipcodes = pd.read_csv('median_income_zipcode.csv', 
                                      usecols=['ZIPCODE', 'All Households', 'Families'])
median_income_zipcodes.columns = ['ZIPCODE', 'MEDIAN_INCOME_ALL_ZIP', 'MEDIAN_INCOME_FAMILIES_ZIP']
median_income_zipcodes['ZIPCODE'] = median_income_zipcodes['ZIPCODE'].str.replace('Zip Code ', '')
median_income_zipcodes.head()

  ZIPCODE  MEDIAN_INCOME_ALL_ZIP  MEDIAN_INCOME_FAMILIES_ZIP
0   10001                  92840                      122776
1   10002                  36982                       40045
2   10003                 118161                      183787
3   10004                 190223                      205202
4   10005                 189702                      241094

In [78]:
daily_entries_2019 = daily_entries_2019.merge(right=median_income_zipcodes, how='left', on='ZIPCODE')

# Check for NaNs
display(daily_entries_2019[daily_entries_2019.isna().any(axis=1)])

display(daily_entries_2019.head())

Empty DataFrame
Columns: [STATION, LINENAME, DATE, NET_ENTRIES, WEEKDAY, ZIPCODE, BOROUGH, NEIGHBORHOOD, MEDIAN_INCOME_ALL_ZIP, MEDIAN_INCOME_FAMILIES_ZIP]
Index: []

,STATION,LINENAME,DATE,NET_ENTRIES,WEEKDAY,ZIPCODE,BOROUGH,NEIGHBORHOOD,MEDIAN_INCOME_ALL_ZIP,MEDIAN_INCOME_FAMILIES_ZIP
0,49 ST,NQRW,05/01/2019,796,1,10036,Manhattan,Chelsea and Clinton,95301,112342
1,49 ST,NQRW,05/02/2019,806,1,10036,Manhattan,Chelsea and Clinton,95301,112342
2,49 ST,NQRW,05/03/2019,762,1,10036,Manhattan,Chelsea and Clinton,95301,112342
3,49 ST,NQRW,05/04/2019,460,0,10036,Manhattan,Chelsea and Clinton,95301,112342
4,49 ST,NQRW,05/05/2019,373,0,10036,Manhattan,Chelsea and Clinton,95301,112342

In [79]:
daily_entries_2021 = daily_entries_2021.merge(right=median_income_zipcodes, how='left', on='ZIPCODE')

# Check for NaNs
display(daily_entries_2021[daily_entries_2021.isna().any(axis=1)])

display(daily_entries_2021.head())

Empty DataFrame
Columns: [STATION, LINENAME, DATE, NET_ENTRIES, WEEKDAY, ZIPCODE, BOROUGH, NEIGHBORHOOD, MEDIAN_INCOME_ALL_ZIP, MEDIAN_INCOME_FAMILIES_ZIP]
Index: []

,STATION,LINENAME,DATE,NET_ENTRIES,WEEKDAY,ZIPCODE,BOROUGH,NEIGHBORHOOD,MEDIAN_INCOME_ALL_ZIP,MEDIAN_INCOME_FAMILIES_ZIP
0,49 ST,NQRW,05/01/2021,99,0,10036,Manhattan,Chelsea and Clinton,95301,112342
1,49 ST,NQRW,05/02/2021,66,0,10036,Manhattan,Chelsea and Clinton,95301,112342
2,49 ST,NQRW,05/03/2021,124,1,10036,Manhattan,Chelsea and Clinton,95301,112342
3,49 ST,NQRW,05/04/2021,131,1,10036,Manhattan,Chelsea and Clinton,95301,112342
4,49 ST,NQRW,05/05/2021,122,1,10036,Manhattan,Chelsea and Clinton,95301,112342

#### Do the same with BOROUGH-level data

In [80]:
median_income_boroughs = pd.read_csv('median_income_borough.csv', 
                                      usecols=['BOROUGH', 'All Households', 'Families'])
median_income_boroughs.columns = ['BOROUGH', 'MEDIAN_INCOME_ALL_BOR', 'MEDIAN_INCOME_FAMILIES_BOR']
median_income_boroughs.head()

         BOROUGH  MEDIAN_INCOME_ALL_BOR  MEDIAN_INCOME_FAMILIES_BOR
0          Bronx                  41432                       50835
1       Brooklyn                  66937                       74422
2      Manhattan                  93651                      126690
3         Queens                  73696                       82534
4  Staten Island                  89821                      105438

In [83]:
daily_entries_2019 = daily_entries_2019.merge(right=median_income_boroughs, how='left', on='BOROUGH')

# Check for NaNs
display(daily_entries_2019[daily_entries_2019.isna().any(axis=1)])

display(daily_entries_2019.head())

Empty DataFrame
Columns: [STATION, LINENAME, DATE, NET_ENTRIES, WEEKDAY, ZIPCODE, BOROUGH, NEIGHBORHOOD, MEDIAN_INCOME_ALL_ZIP, MEDIAN_INCOME_FAMILIES_ZIP, MEDIAN_INCOME_ALL_BOR, MEDIAN_INCOME_FAMILIES_BOR]
Index: []

,STATION,LINENAME,DATE,NET_ENTRIES,WEEKDAY,ZIPCODE,BOROUGH,NEIGHBORHOOD,MEDIAN_INCOME_ALL_ZIP,MEDIAN_INCOME_FAMILIES_ZIP,MEDIAN_INCOME_ALL_BOR,MEDIAN_INCOME_FAMILIES_BOR
0,49 ST,NQRW,05/01/2019,796,1,10036,Manhattan,Chelsea and Clinton,95301,112342,93651,126690
1,49 ST,NQRW,05/02/2019,806,1,10036,Manhattan,Chelsea and Clinton,95301,112342,93651,126690
2,49 ST,NQRW,05/03/2019,762,1,10036,Manhattan,Chelsea and Clinton,95301,112342,93651,126690
3,49 ST,NQRW,05/04/2019,460,0,10036,Manhattan,Chelsea and Clinton,95301,112342,93651,126690
4,49 ST,NQRW,05/05/2019,373,0,10036,Manhattan,Chelsea and Clinton,95301,112342,93651,126690

In [84]:
daily_entries_2021 = daily_entries_2021.merge(right=median_income_boroughs, how='left', on='BOROUGH')

# Check for NaNs
display(daily_entries_2021[daily_entries_2021.isna().any(axis=1)])

display(daily_entries_2021.head())

Empty DataFrame
Columns: [STATION, LINENAME, DATE, NET_ENTRIES, WEEKDAY, ZIPCODE, BOROUGH, NEIGHBORHOOD, MEDIAN_INCOME_ALL_ZIP, MEDIAN_INCOME_FAMILIES_ZIP, MEDIAN_INCOME_ALL_BOR, MEDIAN_INCOME_FAMILIES_BOR]
Index: []

,STATION,LINENAME,DATE,NET_ENTRIES,WEEKDAY,ZIPCODE,BOROUGH,NEIGHBORHOOD,MEDIAN_INCOME_ALL_ZIP,MEDIAN_INCOME_FAMILIES_ZIP,MEDIAN_INCOME_ALL_BOR,MEDIAN_INCOME_FAMILIES_BOR
0,49 ST,NQRW,05/01/2021,99,0,10036,Manhattan,Chelsea and Clinton,95301,112342,93651,126690
1,49 ST,NQRW,05/02/2021,66,0,10036,Manhattan,Chelsea and Clinton,95301,112342,93651,126690
2,49 ST,NQRW,05/03/2021,124,1,10036,Manhattan,Chelsea and Clinton,95301,112342,93651,126690
3,49 ST,NQRW,05/04/2021,131,1,10036,Manhattan,Chelsea and Clinton,95301,112342,93651,126690
4,49 ST,NQRW,05/05/2021,122,1,10036,Manhattan,Chelsea and Clinton,95301,112342,93651,126690

In [246]:
# One last thing: Make ZIPCODE an integer (will help w/ analyis below)

daily_entries_2019['ZIPCODE'] = daily_entries_2019['ZIPCODE'].astype('int')
daily_entries_2021['ZIPCODE'] = daily_entries_2021['ZIPCODE'].astype('int')

# Now Let's Visualize Something!

# Start with finding the busiest stations (on average) in the 2019 data

In [312]:
# Criterion: Median NET_ENTRIES (as opposed to Mean)

busiest_2019 = daily_entries_2019.groupby(['STATION', 'LINENAME', 'BOROUGH']) \
                                           .median().sort_values(by='NET_ENTRIES', ascending=False) \
                                           .reset_index()

busiest_2019

,STATION,LINENAME,BOROUGH,NET_ENTRIES,WEEKDAY,ZIPCODE,MEDIAN_INCOME_ALL_ZIP,MEDIAN_INCOME_FAMILIES_ZIP,MEDIAN_INCOME_ALL_BOR,MEDIAN_INCOME_FAMILIES_BOR
0,YORK ST,F,Brooklyn,3708.0,1.0,11201.0,129248.0,176004.0,66937.0,74422.0
1,QUEENSBORO PLZ,7NQW,Queens,2311.0,1.0,11101.0,75581.0,82636.0,73696.0,82534.0
2,CORTELYOU RD,BQ,Brooklyn,2065.0,1.0,11226.0,58257.0,65178.0,66937.0,74422.0
3,HIGH ST,AC,Brooklyn,1735.5,1.0,11201.0,129248.0,176004.0,66937.0,74422.0
4,JUNCTION BLVD,7,Queens,1686.0,1.0,11368.0,54211.0,51779.0,73696.0,82534.0
5,STERLING ST,25,Brooklyn,1648.0,1.0,11203.0,54457.0,68184.0,66937.0,74422.0
6,191 ST,1,Manhattan,1628.0,1.0,10040.0,49677.0,56530.0,93651.0,126690.0
7,KOSCIUSZKO ST,J,Brooklyn,1615.0,1.0,11207.0,39382.0,51643.0,66937.0,74422.0
8,45 ST,R,Brooklyn,1603.5,1.0,11220.0,50191.0,47150.0,66937.0,74422.0
9,BLEECKER ST,6DF,Manhattan,1558.0,1.0,10012.0,106467.0,151028.0,93651.0,126690.0
10,WINTHROP ST,25,Brooklyn,1553.0,1.0,11203.0,54457.0,68184.0,66937.0,74422.0
11,190 ST,A,Manhattan,1470.0,1.0,10040.0,49677.0,56530.0,93651.0,126690.0
12,182-183 STS,BD,Bronx,1424.0,1.0,10457.0,29767.0,38096.0,41432.0,50835.0
13,CLEVELAND ST,J,Brooklyn,1420.5,1.0,11208.0,42403.0,50726.0,66937.0,74422.0
14,CRESCENT ST,JZ,Brooklyn,1381.0,1.0,11208.0,42403.0,50726.0,66937.0,74422.0
15,SHEEPSHEAD BAY,BQ,Brooklyn,1354.0,1.0,11235.0,54646.0,71542.0,66937.0,74422.0
16,PROSPECT PARK,BQS,Brooklyn,1333.0,1.0,11225.0,59820.0,65968.0,66937.0,74422.0
17,176 ST,4,Bronx,1322.5,1.0,10468.0,37804.0,41488.0,41432.0,50835.0
18,110 ST,6,Manhattan,1317.5,1.0,10029.0,33720.0,39845.0,93651.0,126690.0
19,JEFFERSON ST,L,Brooklyn,1311.0,1.0,11237.0,53303.0,43640.0,66937.0,74422.0
20,EAST BROADWAY,F,Manhattan,1301.0,1.0,10002.0,36982.0,40045.0,93651.0,126690.0
21,E 180 ST,25,Bronx,1296.0,1.0,10460.0,27545.0,33282.0,41432.0,50835.0
22,STEINWAY ST,MR,Queens,1295.0,1.0,11101.0,75581.0,82636.0,73696.0,82534.0
23,183 ST,4,Bronx,1267.5,1.0,10453.0,29136.0,33760.0,41432.0,50835.0
24,CLARK ST,23,Brooklyn,1251.0,1.0,11201.0,129248.0,176004.0,66937.0,74422.0
25,BOWERY,JZ,Manhattan,1216.0,1.0,10002.0,36982.0,40045.0,93651.0,126690.0
26,PRINCE ST,NRW,Manhattan,1135.0,1.0,10003.0,118161.0,183787.0,93651.0,126690.0
27,225 ST,25,Bronx,1133.0,1.0,10466.0,58393.0,67912.0,41432.0,50835.0
28,WOODLAWN,4,Bronx,1115.0,1.0,10468.0,37804.0,41488.0,41432.0,50835.0
29,FOREST AVE,M,Queens,1110.0,1.0,11385.0,75340.0,76414.0,73696.0,82534.0
30,49 ST,NQRW,Manhattan,1086.5,1.0,10036.0,95301.0,112342.0,93651.0,126690.0
31,CHAUNCEY ST,JZ,Brooklyn,1064.0,1.0,11233.0,44905.0,48545.0,66937.0,74422.0
32,ASTOR PL,6,Manhattan,1057.0,1.0,10003.0,118161.0,183787.0,93651.0,126690.0
33,53 ST,R,Brooklyn,987.0,1.0,11220.0,50191.0,47150.0,66937.0,74422.0
34,65 ST,MR,Queens,973.0,1.0,11377.0,58948.0,64678.0,73696.0,82534.0
35,71 ST,D,Brooklyn,932.0,1.0,11204.0,53093.0,58848.0,66937.0,74422.0
36,157 ST,1,Manhattan,928.0,1.0,10032.0,53525.0,58919.0,93651.0,126690.0
37,219 ST,25,Bronx,916.0,1.0,10469.0,65399.0,73973.0,41432.0,50835.0
38,PRESIDENT ST,25,Brooklyn,882.0,1.0,11213.0,44831.0,51262.0,66937.0,74422.0
39,ROCKAWAY BLVD,A,Queens,845.0,1.0,11419.0,75835.0,79508.0,73696.0,82534.0
40,88 ST,A,Queens,803.0,1.0,11419.0,75835.0,79508.0,73696.0,82534.0
41,233 ST,25,Bronx,783.0,1.0,10470.0,61266.0,71506.0,41432.0,50835.0
42,51 ST,6,Manhattan,750.0,1.0,10037.0,46263.0,51536.0,93651.0,126690.0
43,SENECA AVE,M,Queens,744.5,1.0,11385.0,75340.0,76414.0,73696.0,82534.0
44,BAY 50 ST,D,Brooklyn,732.0,1.0,11224.0,32549.0,43584.0,66937.0,74422.0
45,SOUTH FERRY,1RW,Manhattan,726.0,1.0,10004.0,190223.0,205202.0,93651.0,126690.0
46,MOSHOLU PKWY,4,Bronx,719.0,1.0,10467.0,39372.0,46530.0,41432.0,50835.0
47,CARROLL ST,FG,Brooklyn,715.0,1.0,11231.0,99643.0,141500.0,66937.0,74422.0
48,UNION ST,R,Brooklyn,714.0,1.0,11217.0,119375.0,145365.0,66937.0,74422.0
49,BRONX PARK EAST,25,Bronx,708.0,1.0,10462.0,54278.0,59538.0,41432.0,50835.0
50,18 ST,1,Manhattan,696.0,1.0,10001.0,92840.0,122776.0,93651.0,126690.0
51,52 ST,7,Queens,695.0,1.0,11377.0,58948.0,64678.0,73696.0,82534.0
52,BOWLING GREEN,45,Manhattan,689.0,1.0,10003.0,118161.0,183787.0,93651.0,126690.0
53,174 ST,25,Bronx,685.0,1.0,10460.0,27545.0,33282.0,41432.0,50835.0
54,BRIGHTON BEACH,BQ,Brooklyn,603.0,1.0,11235.0,54646.0,71542.0,66937.0,74422.0
55,207 ST,1,Manhattan,588.5,1.0,10034.0,54406.0,56284.0,93651.0,126690.0
56,PARSONS BLVD,F,Queens,587.0,1.0,11427.0,79385.0,96292.0,73696.0,82534.0
57,FRESH POND RD,M,Queens,580.5,1.0,11385.0,75340.0,76414.0,73696.0,82534.0
58,80 ST,A,Queens,578.0,1.0,11419.0,75835.0,79508.0,73696.0,82534.0
59,MORRIS PARK,5,Bronx,549.0,1.0,10462.0,54278.0,59538.0,41432.0,50835.0
60,55 ST,D,Brooklyn,546.0,1.0,11228.0,72902.0,84054.0,66937.0,74422.0
61,69 ST,7,Queens,528.5,1.0,11377.0,58948.0,64678.0,73696.0,82534.0
62,JUNIUS ST,3,Brooklyn,524.5,1.0,11207.0,39382.0,51643.0,66937.0,74422.0
63,NECK RD,BQ,Brooklyn,519.0,1.0,11229.0,64631.0,81481.0,66937.0,74422.0
64,OCEAN PKWY,Q,Brooklyn,511.0,1.0,11235.0,54646.0,71542.0,66937.0,74422.0
65,FREEMAN ST,25,Bronx,504.0,1.0,10459.0,29284.0,35536.0,41432.0,50835.0
66,BEACH 67 ST,A,Queens,494.0,1.0,11692.0,46819.0,50516.0,73696.0,82534.0
67,CITY HALL,NRW,Manhattan,488.0,1.0,10003.0,118161.0,183787.0,93651.0,126690.0
68,PELHAM BAY PARK,6,Bronx,481.0,1.0,10461.0,58305.0,68066.0,41432.0,50835.0
69,HEWES ST,JM,Brooklyn,450.0,1.0,11211.0,81228.0,63639.0,66937.0,74422.0
70,HOYT ST,23,Brooklyn,446.0,1.0,11207.0,39382.0,51643.0,66937.0,74422.0
71,E 149 ST,6,Bronx,441.5,1.0,10458.0,35423.0,38624.0,41432.0,50835.0
72,HOUSTON ST,1,Manhattan,439.5,1.0,10014.0,133501.0,224625.0,93651.0,126690.0
73,175 ST,A,Manhattan,436.0,1.0,10033.0,63093.0,66075.0,93651.0,126690.0
74,25 ST,R,Brooklyn,432.5,1.0,11232.0,61200.0,58913.0,66937.0,74422.0
75,BROAD ST,JZ,Manhattan,395.0,1.0,10004.0,190223.0,205202.0,93651.0,126690.0
76,BEACH 60 ST,A,Queens,392.0,1.0,11692.0,46819.0,50516.0,73696.0,82534.0
77,174-175 STS,BD,Bronx,384.0,1.0,10453.0,29136.0,33760.0,41432.0,50835.0
78,CYPRESS HILLS,J,Brooklyn,370.0,1.0,11208.0,42403.0,50726.0,66937.0,74422.0
79,169 ST,F,Queens,362.0,1.0,11427.0,79385.0,96292.0,73696.0,82534.0
80,SIMPSON ST,25,Bronx,360.0,1.0,10459.0,29284.0,35536.0,41432.0,50835.0
81,SUTPHIN BLVD,F,Queens,357.5,1.0,11427.0,79385.0,96292.0,73696.0,82534.0
82,215 ST,1,Manhattan,336.0,1.0,10034.0,54406.0,56284.0,93651.0,126690.0
83,PARKCHESTER,6,Bronx,310.0,1.0,10472.0,33498.0,38655.0,41432.0,50835.0
84,121 ST,JZ,Queens,304.5,1.0,11418.0,68920.0,72047.0,73696.0,82534.0
85,NORTHERN BLVD,MR,Queens,270.0,1.0,11373.0,54584.0,58918.0,73696.0,82534.0
86,BEACH 25 ST,A,Queens,256.0,1.0,11691.0,50267.0,61360.0,73696.0,82534.0
87,MIDDLETOWN RD,6,Bronx,243.5,1.0,10461.0,58305.0,68066.0,41432.0,50835.0
88,BEACH 90 ST,AS,Queens,188.0,1.0,11693.0,60569.0,66250.0,73696.0,82534.0
89,FRANKLIN ST,1,Manhattan,182.5,1.0,10013.0,113191.0,163951.0,93651.0,126690.0
90,BEACH 36 ST,A,Queens,182.0,1.0,11691.0,50267.0,61360.0,73696.0,82534.0
91,BOTANIC GARDEN,S2345,Brooklyn,171.0,1.0,11213.0,44831.0,51262.0,66937.0,74422.0
92,BEACH 44 ST,A,Queens,118.0,1.0,11692.0,46819.0,50516.0,73696.0,82534.0
93,BEACH 98 ST,AS,Queens,102.0,1.0,11693.0,60569.0,66250.0,73696.0,82534.0
94,BROAD CHANNEL,AS,Queens,67.0,1.0,11693.0,60569.0,66250.0,73696.0,82534.0
95,231 ST,1,Bronx,61.0,1.0,10463.0,58408.0,66470.0,41432.0,50835.0
96,BEACH 105 ST,AS,Queens,40.5,1.0,11694.0,84485.0,111046.0,73696.0,82534.0
97,238 ST,1,Bronx,35.5,1.0,10463.0,58408.0,66470.0,41432.0,50835.0

In [313]:
# How many stations to consider per borough? Let's make it a parameter

stations_per_borough = 1

In [314]:
# 2019 data (sets the baseline stations to compare against 2021)

boroughs = daily_entries_2019['BOROUGH'].unique()
busiest_2019_top_stations = pd.DataFrame(columns=busiest_2019.columns)

for borough in boroughs:
    busiest_2019_top_stations = pd.concat([busiest_2019_top_stations, 
                                           busiest_2019[busiest_2019['BOROUGH'] == borough]
                                           .head(stations_per_borough)], 
                                           axis=0)
    
busiest_2019_top_stations.reset_index(drop=True, inplace=True)
busiest_2019_top_stations

,STATION,LINENAME,BOROUGH,NET_ENTRIES,WEEKDAY,ZIPCODE,MEDIAN_INCOME_ALL_ZIP,MEDIAN_INCOME_FAMILIES_ZIP,MEDIAN_INCOME_ALL_BOR,MEDIAN_INCOME_FAMILIES_BOR
0,191 ST,1,Manhattan,1628.0,1.0,10040.0,49677.0,56530.0,93651.0,126690.0
1,YORK ST,F,Brooklyn,3708.0,1.0,11201.0,129248.0,176004.0,66937.0,74422.0
2,QUEENSBORO PLZ,7NQW,Queens,2311.0,1.0,11101.0,75581.0,82636.0,73696.0,82534.0
3,182-183 STS,BD,Bronx,1424.0,1.0,10457.0,29767.0,38096.0,41432.0,50835.0

In [315]:
# Need to get this down to the same subset, in the same STATION order as busiest_2019_top_stations
#   NOTE: The slick reindexing trick came from here:
#   https://stackoverflow.com/questions/45576800/how-to-sort-dataframe-based-on-a-column-in-another-dataframe-in-pandas

compare_2021 = daily_entries_2021.groupby(['STATION', 'LINENAME', 'BOROUGH']) \
                                           .median().reset_index()
compare_2021 = compare_2021.set_index('STATION')
compare_2021 = compare_2021.reindex(index=busiest_2019_top_stations['STATION'])
compare_2021 = compare_2021.reset_index()
compare_2021

,STATION,LINENAME,BOROUGH,NET_ENTRIES,WEEKDAY,ZIPCODE,MEDIAN_INCOME_ALL_ZIP,MEDIAN_INCOME_FAMILIES_ZIP,MEDIAN_INCOME_ALL_BOR,MEDIAN_INCOME_FAMILIES_BOR
0,191 ST,1,Manhattan,917.5,1.0,10040.0,49677.0,56530.0,93651.0,126690.0
1,YORK ST,F,Brooklyn,1135.0,1.0,11201.0,129248.0,176004.0,66937.0,74422.0
2,QUEENSBORO PLZ,7NQW,Queens,649.0,1.0,11101.0,75581.0,82636.0,73696.0,82534.0
3,182-183 STS,BD,Bronx,619.0,1.0,10457.0,29767.0,38096.0,41432.0,50835.0

In [316]:
# Add a YEAR column to both so we can compare them in plots

busiest_2019_top_stations['YEAR'] = 2019
compare_2021['YEAR'] = 2021

In [317]:
busiest_top_stations_compare = pd.concat([busiest_2019_top_stations, compare_2021], axis=0)
busiest_top_stations_compare.reset_index(drop=True, inplace=True)
busiest_top_stations_compare['ZIPCODE'] = busiest_top_stations_compare['ZIPCODE'].astype('int')
busiest_top_stations_compare

,STATION,LINENAME,BOROUGH,NET_ENTRIES,WEEKDAY,ZIPCODE,MEDIAN_INCOME_ALL_ZIP,MEDIAN_INCOME_FAMILIES_ZIP,MEDIAN_INCOME_ALL_BOR,MEDIAN_INCOME_FAMILIES_BOR,YEAR
0,191 ST,1,Manhattan,1628.0,1.0,10040,49677.0,56530.0,93651.0,126690.0,2019
1,YORK ST,F,Brooklyn,3708.0,1.0,11201,129248.0,176004.0,66937.0,74422.0,2019
2,QUEENSBORO PLZ,7NQW,Queens,2311.0,1.0,11101,75581.0,82636.0,73696.0,82534.0,2019
3,182-183 STS,BD,Bronx,1424.0,1.0,10457,29767.0,38096.0,41432.0,50835.0,2019
4,191 ST,1,Manhattan,917.5,1.0,10040,49677.0,56530.0,93651.0,126690.0,2021
5,YORK ST,F,Brooklyn,1135.0,1.0,11201,129248.0,176004.0,66937.0,74422.0,2021
6,QUEENSBORO PLZ,7NQW,Queens,649.0,1.0,11101,75581.0,82636.0,73696.0,82534.0,2021
7,182-183 STS,BD,Bronx,619.0,1.0,10457,29767.0,38096.0,41432.0,50835.0,2021

In [281]:
sns.set_style("darkgrid")
sns.catplot(x='ZIPCODE', y='NET_ENTRIES', hue='YEAR', data=busiest_top_stations_compare, kind='bar', ci=None)
plt.title('Median Daily Riders, Busiest Station (Zip Code) \nper Borough, May & June, 2019 vs. 2021', 
          fontdict={'weight': 'bold', 'fontsize': 14})
plt.xlabel("Zip Code", fontdict={'weight': 'bold', 'size': 12})
plt.ylabel("Median Daily Station Entries", fontdict={'weight': 'bold', 'size': 12});

In [318]:
# Create dataframe of relative % differences in ridership comparing the selected stations from 2019 to 2021

busiest_top_stations_relative = busiest_2019_top_stations.groupby('BOROUGH').sum().reset_index()
busiest_top_stations_relative['NET_ENTRIES'] = \
                    np.abs((busiest_2019_top_stations.groupby('BOROUGH').sum()['NET_ENTRIES'] -
                         compare_2021.groupby('BOROUGH').sum()['NET_ENTRIES']).values)
busiest_top_stations_relative['ZIPCODE'] = busiest_top_stations_relative['ZIPCODE'].astype('int')
busiest_top_stations_relative

,BOROUGH,NET_ENTRIES,WEEKDAY,ZIPCODE,MEDIAN_INCOME_ALL_ZIP,MEDIAN_INCOME_FAMILIES_ZIP,MEDIAN_INCOME_ALL_BOR,MEDIAN_INCOME_FAMILIES_BOR,YEAR
0,Bronx,805.0,1.0,10457,29767.0,38096.0,41432.0,50835.0,2019
1,Brooklyn,2573.0,1.0,11201,129248.0,176004.0,66937.0,74422.0,2019
2,Manhattan,710.5,1.0,10040,49677.0,56530.0,93651.0,126690.0,2019
3,Queens,1662.0,1.0,11101,75581.0,82636.0,73696.0,82534.0,2019

In [329]:
plt.figure(figsize=(5,5))
plt.pie(x=busiest_top_stations_relative['NET_ENTRIES'], 
        labels=busiest_top_stations_relative['ZIPCODE'],
        explode = [0.02]*4,
        autopct="-%.1f%%",
        textprops={'fontsize': 14, 'fontweight': 'bold'})
plt.title('Relative % Change in Ridership Between Busiest Four Stations \n(Zip Codes - One per Borough), May & June, 2019 vs. 2021',
          fontdict={'weight': 'bold', 'size': 14});

In [320]:
sns.set_style("darkgrid")
g = sns.catplot(x='ZIPCODE', y='MEDIAN_INCOME_ALL_ZIP', 
            data=busiest_top_stations_compare, kind='bar', 
            palette=['green', 'blue', 'red', 'orange'], ci=None)
plt.title('Median Income in Zip Code, Busiest Station \nper Borough, May & June, 2019 vs. 2021', 
          fontdict={'weight': 'bold', 'size': 14})
plt.xlabel("Zip Code", fontdict={'weight': 'bold', 'size': 12})
plt.ylabel("Median Income ($)", fontdict={'weight': 'bold', 'size': 12});

In [327]:
# Create dataframe of absolute % differences in ridership per selected station from 2019 to 2021

busiest_top_stations_absolute = busiest_2019_top_stations.groupby('BOROUGH').sum().reset_index()
busiest_top_stations_absolute['NET_ENTRIES'] = -100* \
           ((busiest_2019_top_stations.groupby('BOROUGH').sum()['NET_ENTRIES'] -
             compare_2021.groupby('BOROUGH').sum()['NET_ENTRIES']) / 
             busiest_2019_top_stations.groupby('BOROUGH').sum()['NET_ENTRIES']).values
busiest_top_stations_absolute['ZIPCODE'] = busiest_top_stations_absolute['ZIPCODE'].astype('int')
busiest_top_stations_absolute

,BOROUGH,NET_ENTRIES,WEEKDAY,ZIPCODE,MEDIAN_INCOME_ALL_ZIP,MEDIAN_INCOME_FAMILIES_ZIP,MEDIAN_INCOME_ALL_BOR,MEDIAN_INCOME_FAMILIES_BOR,YEAR
0,Bronx,-56.530899,1.0,10457,29767.0,38096.0,41432.0,50835.0,2019
1,Brooklyn,-69.390507,1.0,11201,129248.0,176004.0,66937.0,74422.0,2019
2,Manhattan,-43.642506,1.0,10040,49677.0,56530.0,93651.0,126690.0,2019
3,Queens,-71.916919,1.0,11101,75581.0,82636.0,73696.0,82534.0,2019

In [324]:
sns.set_style("darkgrid")
g = sns.catplot(x='ZIPCODE', y='NET_ENTRIES', 
            data=busiest_top_stations_absolute, kind='bar', 
            palette=['green', 'blue', 'red', 'orange'], ci=None)
plt.title('Absolute % Change in Ridership per Station (Zip Code) \nfor Each Borough, May & June, 2019 vs. 2021', 
          fontdict={'weight': 'bold', 'size': 14})
plt.xlabel("Zip Code", fontdict={'weight': 'bold', 'size': 12})
plt.ylabel("% Change in Ridership (2019 to 2021)", fontdict={'weight': 'bold', 'size': 12});

In [330]:
np.array([1,1]) + np.array([[1,2],[3,4]])

array([[2, 3],
       [4, 5]])

In [338]:
type(busiest_top_stations_absolute['BOROUGH'])

pandas.core.series.Series